@mixin opacify($value)
  opacity: $value

  &\:hvr:hover
    opacity: $value

  &\:fcs:focus
    opacity: $value

@mixin rotation($value)
  -webkit-transform: rotate($value)
  -ms-transform: rotate($value)
  -o-transform: rotate($value)
  transform: rotate($value)

@mixin rounded($value)
  border-radius: $value

@mixin skew($value, $y)
  @if $y
    transform: skewY($value)

  @else
    transform: skewX($value)
