@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .b--#{$key}
    bottom: $value

@for $i from 1 through 200
  .b--#{math.div($i, 2) * 2}\%
    bottom: string.unquote(math.div($i, 2) + '%')

.b--auto
  bottom: auto
