@use "./../abstracts/" as *

@for $i from 1 to 13
  .gtc--#{$i}
    grid-template-columns: repeat(#{$i}, 1fr)

@each $key, $value in $value-props
  .gg--#{$key}
    grid-gap: $value

  .gcg--#{$key}
    grid-column-gap: $value

  .grg--#{$key}
    grid-row-gap: $value

