@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .h--#{$key}
    height: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .h--#{math.div($i, 2)}\%
      height: string.unquote(math.div($i, 2) + '%')
  @else
    .h--#{math.div($i, 2) - 0.5}\.5\%
      height: string.unquote(math.div($i, 2) + '%')

@for $i from 1 to 41
  .h--#{$i * 5}vh
    height: #{$i * 5}vh

.h--auto
  height: auto


