@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .mah--#{$key}
    max-height: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .mah--#{math.div($i, 2)}\%
      max-height: string.unquote(math.div($i, 2) + '%')
  @else
    .mah--#{math.div($i, 2) - 0.5}\.5\%
      max-height: string.unquote(math.div($i, 2) + '%')

@for $i from 1 to 26
  .mah--#{$i * 5}vh
    max-height: #{$i * 5}vh

.mah--auto
  max-height: auto

