@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .maw--#{$key}
    max-width: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .maw--#{math.div($i, 2)}\%
      max-width: string.unquote(math.div($i, 2) + '%')
  @else
    .maw--#{math.div($i, 2) - 0.5}\.5\%
      max-width: string.unquote(math.div($i, 2) + '%')

@for $i from 1 to 41
  .maw--#{$i * 5}vw
    max-width: #{$i * 5}vw

.maw--auto
  max-width: auto

