.maw--0
  max-width: 0

.maw--0\.5
  max-width: 0.25rem

.maw--1
  max-width: 0.5rem

.maw--1\.5
  max-width: 0.75rem

.maw--2
  max-width: 1rem

.maw--2\.5
  max-width: 1.25rem

.maw--3
  max-width: 1.5rem

.maw--3\.5
  max-width: 1.75rem

.maw--4
  max-width: 2rem

.maw--4\.5
  max-width: 2.25rem

.maw--5
  max-width: 2.5rem

.maw--5\.5
  max-width: 2.75rem

.maw--6
  max-width: 3rem

.maw--6\.5
  max-width: 3.25rem

.maw--7
  max-width: 3.5rem

.maw--7\.5
  max-width: 3.75rem

.maw--8
  max-width: 4rem

.maw--8\.5
  max-width: 4.25rem

.maw--9
  max-width: 4.5rem

.maw--9\.5
  max-width: 4.75rem

.maw--10
  max-width: 5rem

.maw--10\.5
  max-width: 5.25rem

.maw--11
  max-width: 5.5rem

.maw--11\.5
  max-width: 5.75rem

.maw--12
  max-width: 6rem

.maw--12\.5
  max-width: 6.25rem

.maw--13
  max-width: 6.5rem

.maw--13\.5
  max-width: 6.75rem

.maw--14
  max-width: 7rem

.maw--14\.5
  max-width: 7.25rem

.maw--15
  max-width: 7.5rem

.maw--15\.5
  max-width: 7.75rem

.maw--16
  max-width: 8rem

.maw--16\.5
  max-width: 8.25rem

.maw--17
  max-width: 8.5rem

.maw--17\.5
  max-width: 8.75rem

.maw--18
  max-width: 9rem

.maw--18\.5
  max-width: 9.25rem

.maw--19
  max-width: 9.5rem

.maw--19\.5
  max-width: 9.75rem

.maw--20
  max-width: 10rem

.maw--20\.5
  max-width: 10.25rem

.maw--21
  max-width: 10.5rem

.maw--21\.5
  max-width: 10.75rem

.maw--22
  max-width: 11rem

.maw--22\.5
  max-width: 11.25rem

.maw--23
  max-width: 11.5rem

.maw--23\.5
  max-width: 11.75rem

.maw--24
  max-width: 12rem

.maw--24\.5
  max-width: 12.25rem

.maw--25
  max-width: 12.5rem

.maw--25\.5
  max-width: 12.75rem

.maw--26
  max-width: 13rem

.maw--26\.5
  max-width: 13.25rem

.maw--27
  max-width: 13.5rem

.maw--27\.5
  max-width: 13.75rem

.maw--28
  max-width: 14rem

.maw--28\.5
  max-width: 14.25rem

.maw--29
  max-width: 14.5rem

.maw--29\.5
  max-width: 14.75rem

.maw--30
  max-width: 15rem

.maw--31
  max-width: 15.5rem

.maw--32
  max-width: 16rem

.maw--33
  max-width: 16.5rem

.maw--34
  max-width: 17rem

.maw--35
  max-width: 17.5rem

.maw--36
  max-width: 18rem

.maw--37
  max-width: 18.5rem

.maw--38
  max-width: 19rem

.maw--39
  max-width: 19.5rem

.maw--40
  max-width: 20rem

.maw--41
  max-width: 21rem

.maw--42
  max-width: 22rem

.maw--43
  max-width: 23rem

.maw--44
  max-width: 24rem

.maw--45
  max-width: 25rem

.maw--46
  max-width: 26rem

.maw--47
  max-width: 27rem

.maw--48
  max-width: 28rem

.maw--49
  max-width: 29rem

.maw--50
  max-width: 30rem

.maw--51
  max-width: 32rem

.maw--52
  max-width: 34rem

.maw--53
  max-width: 36rem

.maw--54
  max-width: 38rem

.maw--55
  max-width: 40rem

.maw--56
  max-width: 42rem

.maw--57
  max-width: 44rem

.maw--58
  max-width: 46rem

.maw--59
  max-width: 48rem

.maw--60
  max-width: 50rem

.maw--61
  max-width: 54rem

.maw--62
  max-width: 58rem

.maw--63
  max-width: 62rem

.maw--64
  max-width: 66rem

.maw--65
  max-width: 70rem

.maw--66
  max-width: 74rem

.maw--67
  max-width: 78rem

.maw--68
  max-width: 82rem

.maw--69
  max-width: 86rem

.maw--70
  max-width: 90rem

.maw--1\%
  max-width: 1%

.maw--2\%
  max-width: 2%

.maw--3\%
  max-width: 3%

.maw--4\%
  max-width: 4%

.maw--5\%
  max-width: 5%

.maw--6\%
  max-width: 6%

.maw--7\%
  max-width: 7%

.maw--8\%
  max-width: 8%

.maw--9\%
  max-width: 9%

.maw--10\%
  max-width: 10%

.maw--11\%
  max-width: 11%

.maw--12\%
  max-width: 12%

.maw--13\%
  max-width: 13%

.maw--14\%
  max-width: 14%

.maw--15\%
  max-width: 15%

.maw--16\%
  max-width: 16%

.maw--17\%
  max-width: 17%

.maw--18\%
  max-width: 18%

.maw--19\%
  max-width: 19%

.maw--20\%
  max-width: 20%

.maw--21\%
  max-width: 21%

.maw--22\%
  max-width: 22%

.maw--23\%
  max-width: 23%

.maw--24\%
  max-width: 24%

.maw--25\%
  max-width: 25%

.maw--26\%
  max-width: 26%

.maw--27\%
  max-width: 27%

.maw--28\%
  max-width: 28%

.maw--29\%
  max-width: 29%

.maw--30\%
  max-width: 30%

.maw--31\%
  max-width: 31%

.maw--32\%
  max-width: 32%

.maw--33\%
  max-width: 33%

.maw--34\%
  max-width: 34%

.maw--34\%
  max-width: 34%

.maw--35\%
  max-width: 35%

.maw--36\%
  max-width: 36%

.maw--37\%
  max-width: 37%

.maw--38\%
  max-width: 38%

.maw--39\%
  max-width: 39%

.maw--40\%
  max-width: 40%

.maw--41\%
  max-width: 41%

.maw--42\%
  max-width: 42%

.maw--43\%
  max-width: 43%

.maw--44\%
  max-width: 44%

.maw--45\%
  max-width: 45%

.maw--46\%
  max-width: 46%

.maw--47\%
  max-width: 47%

.maw--48\%
  max-width: 48%

.maw--49\%
  max-width: 49%

.maw--50\%
  max-width: 50%

.maw--55\%
  max-width: 55%

.maw--60\%
  max-width: 60%

.maw--65\%
  max-width: 65%

.maw--70\%
  max-width: 70%

.maw--75\%
  max-width: 75%

.maw--80\%
  max-width: 80%

.maw--85\%
  max-width: 85%

.maw--90\%
  max-width: 90%

.maw--95\%
  max-width: 95%

.maw--100\%
  max-width: 100%

.maw--auto
  max-width: auto

.maw--25vh
  max-width: 25vh

.maw--50vh
  max-width: 50vh

.maw--75vh
  max-width: 75vh

.maw--100vh
  max-width: 100vh

.maw--125vh
  max-width: 125vh

.maw--150vh
  max-width: 150vh
