@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .mih--#{$key}
    min-height: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .mih--#{math.div($i, 2)}\%
      min-height: string.unquote(math.div($i, 2) + '%')
  @else
    .mih--#{math.div($i, 2) - 0.5}\.5\%
      min-height: string.unquote(math.div($i, 2) + '%')

@for $i from 1 to 26
  .mih--#{$i * 5}vh
    min-height: #{$i * 5}vh

.mih--auto
  min-height: auto

