.miw--0
  min-width: 0

.miw--0\.5
  min-width: 0.25rem

.miw--1
  min-width: 0.5rem

.miw--1\.5
  min-width: 0.75rem

.miw--2
  min-width: 1rem

.miw--2\.5
  min-width: 1.25rem

.miw--3
  min-width: 1.5rem

.miw--3\.5
  min-width: 1.75rem

.miw--4
  min-width: 2rem

.miw--4\.5
  min-width: 2.25rem

.miw--5
  min-width: 2.5rem

.miw--5\.5
  min-width: 2.75rem

.miw--6
  min-width: 3rem

.miw--6\.5
  min-width: 3.25rem

.miw--7
  min-width: 3.5rem

.miw--7\.5
  min-width: 3.75rem

.miw--8
  min-width: 4rem

.miw--8\.5
  min-width: 4.25rem

.miw--9
  min-width: 4.5rem

.miw--9\.5
  min-width: 4.75rem

.miw--10
  min-width: 5rem

.miw--10\.5
  min-width: 5.25rem

.miw--11
  min-width: 5.5rem

.miw--11\.5
  min-width: 5.75rem

.miw--12
  min-width: 6rem

.miw--12\.5
  min-width: 6.25rem

.miw--13
  min-width: 6.5rem

.miw--13\.5
  min-width: 6.75rem

.miw--14
  min-width: 7rem

.miw--14\.5
  min-width: 7.25rem

.miw--15
  min-width: 7.5rem

.miw--15\.5
  min-width: 7.75rem

.miw--16
  min-width: 8rem

.miw--16\.5
  min-width: 8.25rem

.miw--17
  min-width: 8.5rem

.miw--17\.5
  min-width: 8.75rem

.miw--18
  min-width: 9rem

.miw--18\.5
  min-width: 9.25rem

.miw--19
  min-width: 9.5rem

.miw--19\.5
  min-width: 9.75rem

.miw--20
  min-width: 10rem

.miw--20\.5
  min-width: 10.25rem

.miw--21
  min-width: 10.5rem

.miw--21\.5
  min-width: 10.75rem

.miw--22
  min-width: 11rem

.miw--22\.5
  min-width: 11.25rem

.miw--23
  min-width: 11.5rem

.miw--23\.5
  min-width: 11.75rem

.miw--24
  min-width: 12rem

.miw--24\.5
  min-width: 12.25rem

.miw--25
  min-width: 12.5rem

.miw--25\.5
  min-width: 12.75rem

.miw--26
  min-width: 13rem

.miw--26\.5
  min-width: 13.25rem

.miw--27
  min-width: 13.5rem

.miw--27\.5
  min-width: 13.75rem

.miw--28
  min-width: 14rem

.miw--28\.5
  min-width: 14.25rem

.miw--29
  min-width: 14.5rem

.miw--29\.5
  min-width: 14.75rem

.miw--30
  min-width: 15rem

.miw--31
  min-width: 15.5rem

.miw--32
  min-width: 16rem

.miw--33
  min-width: 16.5rem

.miw--34
  min-width: 17rem

.miw--35
  min-width: 17.5rem

.miw--36
  min-width: 18rem

.miw--37
  min-width: 18.5rem

.miw--38
  min-width: 19rem

.miw--39
  min-width: 19.5rem

.miw--40
  min-width: 20rem

.miw--41
  min-width: 21rem

.miw--42
  min-width: 22rem

.miw--43
  min-width: 23rem

.miw--44
  min-width: 24rem

.miw--45
  min-width: 25rem

.miw--46
  min-width: 26rem

.miw--47
  min-width: 27rem

.miw--48
  min-width: 28rem

.miw--49
  min-width: 29rem

.miw--50
  min-width: 30rem

.miw--51
  min-width: 32rem

.miw--52
  min-width: 34rem

.miw--53
  min-width: 36rem

.miw--54
  min-width: 38rem

.miw--55
  min-width: 40rem

.miw--56
  min-width: 42rem

.miw--57
  min-width: 44rem

.miw--58
  min-width: 46rem

.miw--59
  min-width: 48rem

.miw--60
  min-width: 50rem

.miw--61
  min-width: 54rem

.miw--62
  min-width: 58rem

.miw--63
  min-width: 62rem

.miw--64
  min-width: 66rem

.miw--65
  min-width: 70rem

.miw--66
  min-width: 74rem

.miw--67
  min-width: 78rem

.miw--68
  min-width: 82rem

.miw--69
  min-width: 86rem

.miw--70
  min-width: 90rem

.miw--1\%
  min-width: 1%

.miw--2\%
  min-width: 2%

.miw--3\%
  min-width: 3%

.miw--4\%
  min-width: 4%

.miw--5\%
  min-width: 5%

.miw--6\%
  min-width: 6%

.miw--7\%
  min-width: 7%

.miw--8\%
  min-width: 8%

.miw--9\%
  min-width: 9%

.miw--10\%
  min-width: 10%

.miw--11\%
  min-width: 11%

.miw--12\%
  min-width: 12%

.miw--13\%
  min-width: 13%

.miw--14\%
  min-width: 14%

.miw--15\%
  min-width: 15%

.miw--16\%
  min-width: 16%

.miw--17\%
  min-width: 17%

.miw--18\%
  min-width: 18%

.miw--19\%
  min-width: 19%

.miw--20\%
  min-width: 20%

.miw--21\%
  min-width: 21%

.miw--22\%
  min-width: 22%

.miw--23\%
  min-width: 23%

.miw--24\%
  min-width: 24%

.miw--25\%
  min-width: 25%

.miw--26\%
  min-width: 26%

.miw--27\%
  min-width: 27%

.miw--28\%
  min-width: 28%

.miw--29\%
  min-width: 29%

.miw--30\%
  min-width: 30%

.miw--31\%
  min-width: 31%

.miw--32\%
  min-width: 32%

.miw--33\%
  min-width: 33%

.miw--34\%
  min-width: 34%

.miw--34\%
  min-width: 34%

.miw--35\%
  min-width: 35%

.miw--36\%
  min-width: 36%

.miw--37\%
  min-width: 37%

.miw--38\%
  min-width: 38%

.miw--39\%
  min-width: 39%

.miw--40\%
  min-width: 40%

.miw--41\%
  min-width: 41%

.miw--42\%
  min-width: 42%

.miw--43\%
  min-width: 43%

.miw--44\%
  min-width: 44%

.miw--45\%
  min-width: 45%

.miw--46\%
  min-width: 46%

.miw--47\%
  min-width: 47%

.miw--48\%
  min-width: 48%

.miw--49\%
  min-width: 49%

.miw--50\%
  min-width: 50%

.miw--55\%
  min-width: 55%

.miw--60\%
  min-width: 60%

.miw--65\%
  min-width: 65%

.miw--70\%
  min-width: 70%

.miw--75\%
  min-width: 75%

.miw--80\%
  min-width: 80%

.miw--85\%
  min-width: 85%

.miw--90\%
  min-width: 90%

.miw--95\%
  min-width: 95%

.miw--100\%
  min-width: 100%

.miw--auto
  min-width: auto

.miw--25vh
  min-width: 25vh

.miw--50vh
  min-width: 50vh

.miw--75vh
  min-width: 75vh

.miw--100vh
  min-width: 100vh

.miw--125vh
  min-width: 125vh

.miw--150vh
  min-width: 150vh
