.mih--0
  min-height: 0

.mih--0\.5
  min-height: 0.25rem

.mih--1
  min-height: 0.5rem

.mih--1\.5
  min-height: 0.75rem

.mih--2
  min-height: 1rem

.mih--2\.5
  min-height: 1.25rem

.mih--3
  min-height: 1.5rem

.mih--3\.5
  min-height: 1.75rem

.mih--4
  min-height: 2rem

.mih--4\.5
  min-height: 2.25rem

.mih--5
  min-height: 2.5rem

.mih--5\.5
  min-height: 2.75rem

.mih--6
  min-height: 3rem

.mih--6\.5
  min-height: 3.25rem

.mih--7
  min-height: 3.5rem

.mih--7\.5
  min-height: 3.75rem

.mih--8
  min-height: 4rem

.mih--8\.5
  min-height: 4.25rem

.mih--9
  min-height: 4.5rem

.mih--9\.5
  min-height: 4.75rem

.mih--10
  min-height: 5rem

.mih--10\.5
  min-height: 5.25rem

.mih--11
  min-height: 5.5rem

.mih--11\.5
  min-height: 5.75rem

.mih--12
  min-height: 6rem

.mih--12\.5
  min-height: 6.25rem

.mih--13
  min-height: 6.5rem

.mih--13\.5
  min-height: 6.75rem

.mih--14
  min-height: 7rem

.mih--14\.5
  min-height: 7.25rem

.mih--15
  min-height: 7.5rem

.mih--15\.5
  min-height: 7.75rem

.mih--16
  min-height: 8rem

.mih--16\.5
  min-height: 8.25rem

.mih--17
  min-height: 8.5rem

.mih--17\.5
  min-height: 8.75rem

.mih--18
  min-height: 9rem

.mih--18\.5
  min-height: 9.25rem

.mih--19
  min-height: 9.5rem

.mih--19\.5
  min-height: 9.75rem

.mih--20
  min-height: 10rem

.mih--20\.5
  min-height: 10.25rem

.mih--21
  min-height: 10.5rem

.mih--21\.5
  min-height: 10.75rem

.mih--22
  min-height: 11rem

.mih--22\.5
  min-height: 11.25rem

.mih--23
  min-height: 11.5rem

.mih--23\.5
  min-height: 11.75rem

.mih--24
  min-height: 12rem

.mih--24\.5
  min-height: 12.25rem

.mih--25
  min-height: 12.5rem

.mih--25\.5
  min-height: 12.75rem

.mih--26
  min-height: 13rem

.mih--26\.5
  min-height: 13.25rem

.mih--27
  min-height: 13.5rem

.mih--27\.5
  min-height: 13.75rem

.mih--28
  min-height: 14rem

.mih--28\.5
  min-height: 14.25rem

.mih--29
  min-height: 14.5rem

.mih--29\.5
  min-height: 14.75rem

.mih--30
  min-height: 15rem

.mih--31
  min-height: 15.5rem

.mih--32
  min-height: 16rem

.mih--33
  min-height: 16.5rem

.mih--34
  min-height: 17rem

.mih--35
  min-height: 17.5rem

.mih--36
  min-height: 18rem

.mih--37
  min-height: 18.5rem

.mih--38
  min-height: 19rem

.mih--39
  min-height: 19.5rem

.mih--40
  min-height: 20rem

.mih--41
  min-height: 21rem

.mih--42
  min-height: 22rem

.mih--43
  min-height: 23rem

.mih--44
  min-height: 24rem

.mih--45
  min-height: 25rem

.mih--46
  min-height: 26rem

.mih--47
  min-height: 27rem

.mih--48
  min-height: 28rem

.mih--49
  min-height: 29rem

.mih--50
  min-height: 30rem

.mih--51
  min-height: 32rem

.mih--52
  min-height: 34rem

.mih--53
  min-height: 36rem

.mih--54
  min-height: 38rem

.mih--55
  min-height: 40rem

.mih--56
  min-height: 42rem

.mih--57
  min-height: 44rem

.mih--58
  min-height: 46rem

.mih--59
  min-height: 48rem

.mih--60
  min-height: 50rem

.mih--61
  min-height: 54rem

.mih--62
  min-height: 58rem

.mih--63
  min-height: 62rem

.mih--64
  min-height: 66rem

.mih--65
  min-height: 70rem

.mih--66
  min-height: 74rem

.mih--67
  min-height: 78rem

.mih--68
  min-height: 82rem

.mih--69
  min-height: 86rem

.mih--70
  min-height: 90rem

.mih--1\%
  min-height: 1%

.mih--2\%
  min-height: 2%

.mih--3\%
  min-height: 3%

.mih--4\%
  min-height: 4%

.mih--5\%
  min-height: 5%

.mih--6\%
  min-height: 6%

.mih--7\%
  min-height: 7%

.mih--8\%
  min-height: 8%

.mih--9\%
  min-height: 9%

.mih--10\%
  min-height: 10%

.mih--11\%
  min-height: 11%

.mih--12\%
  min-height: 12%

.mih--13\%
  min-height: 13%

.mih--14\%
  min-height: 14%

.mih--15\%
  min-height: 15%

.mih--16\%
  min-height: 16%

.mih--17\%
  min-height: 17%

.mih--18\%
  min-height: 18%

.mih--19\%
  min-height: 19%

.mih--20\%
  min-height: 20%

.mih--21\%
  min-height: 21%

.mih--22\%
  min-height: 22%

.mih--23\%
  min-height: 23%

.mih--24\%
  min-height: 24%

.mih--25\%
  min-height: 25%

.mih--26\%
  min-height: 26%

.mih--27\%
  min-height: 27%

.mih--28\%
  min-height: 28%

.mih--29\%
  min-height: 29%

.mih--30\%
  min-height: 30%

.mih--31\%
  min-height: 31%

.mih--32\%
  min-height: 32%

.mih--33\%
  min-height: 33%

.mih--34\%
  min-height: 34%

.mih--34\%
  min-height: 34%

.mih--35\%
  min-height: 35%

.mih--36\%
  min-height: 36%

.mih--37\%
  min-height: 37%

.mih--38\%
  min-height: 38%

.mih--39\%
  min-height: 39%

.mih--40\%
  min-height: 40%

.mih--41\%
  min-height: 41%

.mih--42\%
  min-height: 42%

.mih--43\%
  min-height: 43%

.mih--44\%
  min-height: 44%

.mih--45\%
  min-height: 45%

.mih--46\%
  min-height: 46%

.mih--47\%
  min-height: 47%

.mih--48\%
  min-height: 48%

.mih--49\%
  min-height: 49%

.mih--50\%
  min-height: 50%

.mih--55\%
  min-height: 55%

.mih--60\%
  min-height: 60%

.mih--65\%
  min-height: 65%

.mih--70\%
  min-height: 70%

.mih--75\%
  min-height: 75%

.mih--80\%
  min-height: 80%

.mih--85\%
  min-height: 85%

.mih--90\%
  min-height: 90%

.mih--95\%
  min-height: 95%

.mih--100\%
  min-height: 100%

.mih--auto
  min-height: auto

.mih--25vh
  min-height: 25vh

.mih--50vh
  min-height: 50vh

.mih--75vh
  min-height: 75vh

.mih--100vh
  min-height: 100vh

.mih--125vh
  min-height: 125vh

.mih--150vh
  min-height: 150vh
