@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .miw--#{$key}
    min-width: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .miw--#{math.div($i, 2)}\%
      min-width: string.unquote(math.div($i, 2) + '%')
  @else
    .miw--#{math.div($i, 2) - 0.5}\.5\%
      min-width: string.unquote(math.div($i, 2) + '%')

@for $i from 1 to 26
  .miw--#{$i * 5}vw
    min-width: #{$i * 5}vw

.miw--auto
  min-width: auto

