@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .p--#{$key}
    padding: $value

  .pt--#{$key}
    padding-top: $value

  .pr--#{$key}
    padding-right: $value

  .pb--#{$key}
    padding-bottom: $value

  .pl--#{$key}
    padding-left: $value

  .py--#{$key}
    padding-top: $value
    padding-bottom: $value

  .px--#{$key}
    padding-right: $value
    padding-left: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .p--#{math.div($i, 2)}\%
      padding: string.unquote(math.div($i, 2) + '%')
  @else
    .p--#{math.div($i, 2) - 0.5}\.5\%
      padding: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .pt--#{math.div($i, 2)}\%
      padding-top: string.unquote(math.div($i, 2) + '%')
  @else
    .pt--#{math.div($i, 2) - 0.5}\.5\%
      padding-top: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .pr--#{math.div($i, 2)}\%
      padding-right: string.unquote(math.div($i, 2) + '%')
  @else
    .pr--#{math.div($i, 2) - 0.5}\.5\%
      padding-right: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .pb--#{math.div($i, 2)}\%
      padding-bottom: string.unquote(math.div($i, 2) + '%')
  @else
    .pb--#{math.div($i, 2) - 0.5}\.5\%
      padding-bottom: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .pl--#{math.div($i, 2)}\%
      padding-left: string.unquote(math.div($i, 2) + '%')
  @else
    .pl--#{math.div($i, 2) - 0.5}\.5\%
      padding-left: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .py--#{math.div($i, 2)}\%
      padding-top: string.unquote(math.div($i, 2) + '%')
      padding-bottom: string.unquote(math.div($i, 2) + '%')
  @else
    .py--#{math.div($i, 2) - 0.5}\.5\%
      padding-top: string.unquote(math.div($i, 2) + '%')
      padding-bottom: string.unquote(math.div($i, 2) + '%')

  @if ($i % 2) == 0
    .px--#{math.div($i, 2)}\%
      padding-right: string.unquote(math.div($i, 2) + '%')
      padding-left: string.unquote(math.div($i, 2) + '%')
  @else
    .px--#{math.div($i, 2) - 0.5}\.5\%
      padding-right: string.unquote(math.div($i, 2) + '%')
      padding-left: string.unquote(math.div($i, 2) + '%')

.p--auto
  padding: auto

.pt--auto
  padding-top: auto

.pr--auto
  padding-right: auto

.pb--auto
  padding-bottom: auto

.pl--auto
  padding-left: auto

.py--auto
  padding-top: auto
  padding-bottom: auto

.px--auto
  padding-right: auto
  padding-left: auto

