.p--0
  padding: 0

.p--0\.5
  padding: 0.25rem

.p--1
  padding: 0.5rem

.p--1\.5
  padding: 0.75rem

.p--2
  padding: 1rem

.p--2\.5
  padding: 1.25rem

.p--3
  padding: 1.5rem

.p--3\.5
  padding: 1.75rem

.p--4
  padding: 2rem

.p--4\.5
  padding: 2.25rem

.p--5
  padding: 2.5rem

.p--5\.5
  padding: 2.75rem

.p--6
  padding: 3rem

.p--6\.5
  padding: 3.25rem

.p--7
  padding: 3.5rem

.p--7\.5
  padding: 3.75rem

.p--8
  padding: 4rem

.p--8\.5
  padding: 4.25rem

.p--9
  padding: 4.5rem

.p--9\.5
  padding: 4.75rem

.p--10
  padding: 5rem

.p--10\.5
  padding: 5.25rem

.p--11
  padding: 5.5rem

.p--11\.5
  padding: 5.75rem

.p--12
  padding: 6rem

.p--12\.5
  padding: 6.25rem

.p--13
  padding: 6.5rem

.p--13\.5
  padding: 6.75rem

.p--14
  padding: 7rem

.p--14\.5
  padding: 7.25rem

.p--15
  padding: 7.5rem

.p--15\.5
  padding: 7.75rem

.p--16
  padding: 8rem

.p--16\.5
  padding: 8.25rem

.p--17
  padding: 8.5rem

.p--17\.5
  padding: 8.75rem

.p--18
  padding: 9rem

.p--18\.5
  padding: 9.25rem

.p--19
  padding: 9.5rem

.p--19\.5
  padding: 9.75rem

.p--20
  padding: 10rem

.p--20\.5
  padding: 10.25rem

.p--21
  padding: 10.5rem

.p--21\.5
  padding: 10.75rem

.p--22
  padding: 11rem

.p--22\.5
  padding: 11.25rem

.p--23
  padding: 11.5rem

.p--23\.5
  padding: 11.75rem

.p--24
  padding: 12rem

.p--24\.5
  padding: 12.25rem

.p--25
  padding: 12.5rem

.p--25\.5
  padding: 12.75rem

.p--26
  padding: 13rem

.p--26\.5
  padding: 13.25rem

.p--27
  padding: 13.5rem

.p--27\.5
  padding: 13.75rem

.p--28
  padding: 14rem

.p--28\.5
  padding: 14.25rem

.p--29
  padding: 14.5rem

.p--29\.5
  padding: 14.75rem

.p--30
  padding: 15rem

.p--31
  padding: 15.5rem

.p--32
  padding: 16rem

.p--33
  padding: 16.5rem

.p--34
  padding: 17rem

.p--35
  padding: 17.5rem

.p--36
  padding: 18rem

.p--37
  padding: 18.5rem

.p--38
  padding: 19rem

.p--39
  padding: 19.5rem

.p--40
  padding: 20rem

.p--41
  padding: 21rem

.p--42
  padding: 22rem

.p--43
  padding: 23rem

.p--44
  padding: 24rem

.p--45
  padding: 25rem

.p--46
  padding: 26rem

.p--47
  padding: 27rem

.p--48
  padding: 28rem

.p--49
  padding: 29rem

.p--50
  padding: 30rem

.p--51
  padding: 32rem

.p--52
  padding: 34rem

.p--53
  padding: 36rem

.p--54
  padding: 38rem

.p--55
  padding: 40rem

.p--56
  padding: 42rem

.p--57
  padding: 44rem

.p--58
  padding: 46rem

.p--59
  padding: 48rem

.p--60
  padding: 50rem

.p--61
  padding: 54rem

.p--62
  padding: 58rem

.p--63
  padding: 62rem

.p--64
  padding: 66rem

.p--65
  padding: 70rem

.p--66
  padding: 74rem

.p--67
  padding: 78rem

.p--68
  padding: 82rem

.p--69
  padding: 86rem

.p--70
  padding: 90rem

.p--1\%
  padding: 1%

.p--2\%
  padding: 2%

.p--3\%
  padding: 3%

.p--4\%
  padding: 4%

.p--5\%
  padding: 5%

.p--6\%
  padding: 6%

.p--7\%
  padding: 7%

.p--8\%
  padding: 8%

.p--9\%
  padding: 9%

.p--10\%
  padding: 10%

.p--11\%
  padding: 11%

.p--12\%
  padding: 12%

.p--13\%
  padding: 13%

.p--14\%
  padding: 14%

.p--15\%
  padding: 15%

.p--16\%
  padding: 16%

.p--17\%
  padding: 17%

.p--18\%
  padding: 18%

.p--19\%
  padding: 19%

.p--20\%
  padding: 20%

.p--21\%
  padding: 21%

.p--22\%
  padding: 22%

.p--23\%
  padding: 23%

.p--24\%
 padding: 24%

.p--25\%
 padding: 25%

.p--26\%
 padding: 26%

.p--27\%
 padding: 27%

.p--28\%
 padding: 28%

.p--29\%
 padding: 29%

.p--30\%
 padding: 30%

.p--31\%
 padding: 31%

.p--32\%
 padding: 32%

.p--33\%
 padding: 33%

.p--34\%
 padding: 34%

.p--34\%
 padding: 34%

.p--35\%
 padding: 35%

.p--36\%
 padding: 36%

.p--37\%
 padding: 37%

.p--38\%
 padding: 38%

.p--39\%
 padding: 39%

.p--40\%
 padding: 40%

.p--41\%
 padding: 41%

.p--42\%
 padding: 42%

.p--43\%
 padding: 43%

.p--44\%
 padding: 44%

.p--45\%
 padding: 45%

.p--46\%
 padding: 46%

.p--47\%
 padding: 47%

.p--48\%
 padding: 48%

.p--49\%
 padding: 49%

.p--50\%
 padding: 50%

.p--55\%
 padding: 55%

.p--60\%
 padding: 60%

.p--65\%
 padding: 65%

.p--70\%
 padding: 70%

.p--75\%
 padding: 75%

.p--80\%
 padding: 80%

.p--85\%
 padding: 85%

.p--90\%
 padding: 90%

.p--95\%
 padding: 95%

.p--100\%
 padding: 100%

.p--auto
  padding: auto

.pt--0
  padding-top: 0

.pt--0\.5
  padding-top: 0.25rem

.pt--1
  padding-top: 0.5rem

.pt--1\.5
  padding-top: 0.75rem

.pt--2
  padding-top: 1rem

.pt--2\.5
  padding-top: 1.25rem

.pt--3
  padding-top: 1.5rem

.pt--3\.5
  padding-top: 1.75rem

.pt--4
  padding-top: 2rem

.pt--4\.5
  padding-top: 2.25rem

.pt--5
  padding-top: 2.5rem

.pt--5\.5
  padding-top: 2.75rem

.pt--6
  padding-top: 3rem

.pt--6\.5
  padding-top: 3.25rem

.pt--7
  padding-top: 3.5rem

.pt--7\.5
  padding-top: 3.75rem

.pt--8
  padding-top: 4rem

.pt--8\.5
  padding-top: 4.25rem

.pt--9
  padding-top: 4.5rem

.pt--9\.5
  padding-top: 4.75rem

.pt--10
  padding-top: 5rem

.pt--10\.5
  padding-top: 5.25rem

.pt--11
  padding-top: 5.5rem

.pt--11\.5
  padding-top: 5.75rem

.pt--12
  padding-top: 6rem

.pt--12\.5
  padding-top: 6.25rem

.pt--13
  padding-top: 6.5rem

.pt--13\.5
  padding-top: 6.75rem

.pt--14
  padding-top: 7rem

.pt--14\.5
  padding-top: 7.25rem

.pt--15
  padding-top: 7.5rem

.pt--15\.5
  padding-top: 7.75rem

.pt--16
  padding-top: 8rem

.pt--16\.5
  padding-top: 8.25rem

.pt--17
  padding-top: 8.5rem

.pt--17\.5
  padding-top: 8.75rem

.pt--18
  padding-top: 9rem

.pt--18\.5
  padding-top: 9.25rem

.pt--19
  padding-top: 9.5rem

.pt--19\.5
  padding-top: 9.75rem

.pt--20
  padding-top: 10rem

.pt--20\.5
  padding-top: 10.25rem

.pt--21
  padding-top: 10.5rem

.pt--21\.5
  padding-top: 10.75rem

.pt--22
  padding-top: 11rem

.pt--22\.5
  padding-top: 11.25rem

.pt--23
  padding-top: 11.5rem

.pt--23\.5
  padding-top: 11.75rem

.pt--24
  padding-top: 12rem

.pt--24\.5
  padding-top: 12.25rem

.pt--25
  padding-top: 12.5rem

.pt--25\.5
  padding-top: 12.75rem

.pt--26
  padding-top: 13rem

.pt--26\.5
  padding-top: 13.25rem

.pt--27
  padding-top: 13.5rem

.pt--27\.5
  padding-top: 13.75rem

.pt--28
  padding-top: 14rem

.pt--28\.5
  padding-top: 14.25rem

.pt--29
  padding-top: 14.5rem

.pt--29\.5
  padding-top: 14.75rem

.pt--30
  padding-top: 15rem

.pt--31
  padding-top: 15.5rem

.pt--32
  padding-top: 16rem

.pt--33
  padding-top: 16.5rem

.pt--34
  padding-top: 17rem

.pt--35
  padding-top: 17.5rem

.pt--36
  padding-top: 18rem

.pt--37
  padding-top: 18.5rem

.pt--38
  padding-top: 19rem

.pt--39
  padding-top: 19.5rem

.pt--40
  padding-top: 20rem

.pt--41
  padding-top: 21rem

.pt--42
  padding-top: 22rem

.pt--43
  padding-top: 23rem

.pt--44
  padding-top: 24rem

.pt--45
  padding-top: 25rem

.pt--46
  padding-top: 26rem

.pt--47
  padding-top: 27rem

.pt--48
  padding-top: 28rem

.pt--49
  padding-top: 29rem

.pt--50
  padding-top: 30rem

.pt--51
  padding-top: 32rem

.pt--52
  padding-top: 34rem

.pt--53
  padding-top: 36rem

.pt--54
  padding-top: 38rem

.pt--55
  padding-top: 40rem

.pt--56
  padding-top: 42rem

.pt--57
  padding-top: 44rem

.pt--58
  padding-top: 46rem

.pt--59
  padding-top: 48rem

.pt--60
  padding-top: 50rem

.pt--61
  padding-top: 54rem

.pt--62
  padding-top: 58rem

.pt--63
  padding-top: 62rem

.pt--64
  padding-top: 66rem

.pt--65
  padding-top: 70rem

.pt--66
  padding-top: 74rem

.pt--67
  padding-top: 78rem

.pt--68
  padding-top: 82rem

.pt--69
  padding-top: 86rem

.pt--70
  padding-top: 90rem

.pt--1\%
  padding-top: 1%

.pt--2\%
  padding-top: 2%

.pt--3\%
  padding-top: 3%

.pt--4\%
  padding-top: 4%

.pt--5\%
  padding-top: 5%

.pt--6\%
  padding-top: 6%

.pt--7\%
  padding-top: 7%

.pt--8\%
  padding-top: 8%

.pt--9\%
  padding-top: 9%

.pt--10\%
  padding-top: 10%

.pt--11\%
  padding-top: 11%

.pt--12\%
  padding-top: 12%

.pt--13\%
  padding-top: 13%

.pt--14\%
  padding-top: 14%

.pt--15\%
  padding-top: 15%

.pt--16\%
  padding-top: 16%

.pt--17\%
  padding-top: 17%

.pt--18\%
  padding-top: 18%

.pt--19\%
  padding-top: 19%

.pt--20\%
  padding-top: 20%

.pt--21\%
  padding-top: 21%

.pt--22\%
  padding-top: 22%

.pt--23\%
  padding-top: 23%

.pt--24\%
 padding-top: 24%

.pt--25\%
 padding-top: 25%

.pt--26\%
 padding-top: 26%

.pt--27\%
 padding-top: 27%

.pt--28\%
 padding-top: 28%

.pt--29\%
 padding-top: 29%

.pt--30\%
 padding-top: 30%

.pt--31\%
 padding-top: 31%

.pt--32\%
 padding-top: 32%

.pt--33\%
 padding-top: 33%

.pt--34\%
 padding-top: 34%

.pt--34\%
 padding-top: 34%

.pt--35\%
 padding-top: 35%

.pt--36\%
 padding-top: 36%

.pt--37\%
 padding-top: 37%

.pt--38\%
 padding-top: 38%

.pt--39\%
 padding-top: 39%

.pt--40\%
 padding-top: 40%

.pt--41\%
 padding-top: 41%

.pt--42\%
 padding-top: 42%

.pt--43\%
 padding-top: 43%

.pt--44\%
 padding-top: 44%

.pt--45\%
 padding-top: 45%

.pt--46\%
 padding-top: 46%

.pt--47\%
 padding-top: 47%

.pt--48\%
 padding-top: 48%

.pt--49\%
 padding-top: 49%

.pt--50\%
 padding-top: 50%

.pt--55\%
 padding-top: 55%

.pt--60\%
 padding-top: 60%

.pt--65\%
 padding-top: 65%

.pt--70\%
 padding-top: 70%

.pt--75\%
 padding-top: 75%

.pt--80\%
 padding-top: 80%

.pt--85\%
 padding-top: 85%

.pt--90\%
 padding-top: 90%

.pt--95\%
 padding-top: 95%

.pt--100\%
 padding-top: 100%

.pt--auto
  padding-top: auto

.pr--0
  padding-right: 0

.pr--0\.5
  padding-right: 0.25rem

.pr--1
  padding-right: 0.5rem

.pr--1\.5
  padding-right: 0.75rem

.pr--2
  padding-right: 1rem

.pr--2\.5
  padding-right: 1.25rem

.pr--3
  padding-right: 1.5rem

.pr--3\.5
  padding-right: 1.75rem

.pr--4
  padding-right: 2rem

.pr--4\.5
  padding-right: 2.25rem

.pr--5
  padding-right: 2.5rem

.pr--5\.5
  padding-right: 2.75rem

.pr--6
  padding-right: 3rem

.pr--6\.5
  padding-right: 3.25rem

.pr--7
  padding-right: 3.5rem

.pr--7\.5
  padding-right: 3.75rem

.pr--8
  padding-right: 4rem

.pr--8\.5
  padding-right: 4.25rem

.pr--9
  padding-right: 4.5rem

.pr--9\.5
  padding-right: 4.75rem

.pr--10
  padding-right: 5rem

.pr--10\.5
  padding-right: 5.25rem

.pr--11
  padding-right: 5.5rem

.pr--11\.5
  padding-right: 5.75rem

.pr--12
  padding-right: 6rem

.pr--12\.5
  padding-right: 6.25rem

.pr--13
  padding-right: 6.5rem

.pr--13\.5
  padding-right: 6.75rem

.pr--14
  padding-right: 7rem

.pr--14\.5
  padding-right: 7.25rem

.pr--15
  padding-right: 7.5rem

.pr--15\.5
  padding-right: 7.75rem

.pr--16
  padding-right: 8rem

.pr--16\.5
  padding-right: 8.25rem

.pr--17
  padding-right: 8.5rem

.pr--17\.5
  padding-right: 8.75rem

.pr--18
  padding-right: 9rem

.pr--18\.5
  padding-right: 9.25rem

.pr--19
  padding-right: 9.5rem

.pr--19\.5
  padding-right: 9.75rem

.pr--20
  padding-right: 10rem

.pr--20\.5
  padding-right: 10.25rem

.pr--21
  padding-right: 10.5rem

.pr--21\.5
  padding-right: 10.75rem

.pr--22
  padding-right: 11rem

.pr--22\.5
  padding-right: 11.25rem

.pr--23
  padding-right: 11.5rem

.pr--23\.5
  padding-right: 11.75rem

.pr--24
  padding-right: 12rem

.pr--24\.5
  padding-right: 12.25rem

.pr--25
  padding-right: 12.5rem

.pr--25\.5
  padding-right: 12.75rem

.pr--26
  padding-right: 13rem

.pr--26\.5
  padding-right: 13.25rem

.pr--27
  padding-right: 13.5rem

.pr--27\.5
  padding-right: 13.75rem

.pr--28
  padding-right: 14rem

.pr--28\.5
  padding-right: 14.25rem

.pr--29
  padding-right: 14.5rem

.pr--29\.5
  padding-right: 14.75rem

.pr--30
  padding-right: 15rem

.pr--31
  padding-right: 15.5rem

.pr--32
  padding-right: 16rem

.pr--33
  padding-right: 16.5rem

.pr--34
  padding-right: 17rem

.pr--35
  padding-right: 17.5rem

.pr--36
  padding-right: 18rem

.pr--37
  padding-right: 18.5rem

.pr--38
  padding-right: 19rem

.pr--39
  padding-right: 19.5rem

.pr--40
  padding-right: 20rem

.pr--41
  padding-right: 21rem

.pr--42
  padding-right: 22rem

.pr--43
  padding-right: 23rem

.pr--44
  padding-right: 24rem

.pr--45
  padding-right: 25rem

.pr--46
  padding-right: 26rem

.pr--47
  padding-right: 27rem

.pr--48
  padding-right: 28rem

.pr--49
  padding-right: 29rem

.pr--50
  padding-right: 30rem

.pr--51
  padding-right: 32rem

.pr--52
  padding-right: 34rem

.pr--53
  padding-right: 36rem

.pr--54
  padding-right: 38rem

.pr--55
  padding-right: 40rem

.pr--56
  padding-right: 42rem

.pr--57
  padding-right: 44rem

.pr--58
  padding-right: 46rem

.pr--59
  padding-right: 48rem

.pr--60
  padding-right: 50rem

.pr--61
  padding-right: 54rem

.pr--62
  padding-right: 58rem

.pr--63
  padding-right: 62rem

.pr--64
  padding-right: 66rem

.pr--65
  padding-right: 70rem

.pr--66
  padding-right: 74rem

.pr--67
  padding-right: 78rem

.pr--68
  padding-right: 82rem

.pr--69
  padding-right: 86rem

.pr--70
  padding-right: 90rem

.pr--1\%
  padding-right: 1%

.pr--2\%
  padding-right: 2%

.pr--3\%
  padding-right: 3%

.pr--4\%
  padding-right: 4%

.pr--5\%
  padding-right: 5%

.pr--6\%
  padding-right: 6%

.pr--7\%
  padding-right: 7%

.pr--8\%
  padding-right: 8%

.pr--9\%
  padding-right: 9%

.pr--10\%
  padding-right: 10%

.pr--11\%
  padding-right: 11%

.pr--12\%
  padding-right: 12%

.pr--13\%
  padding-right: 13%

.pr--14\%
  padding-right: 14%

.pr--15\%
  padding-right: 15%

.pr--16\%
  padding-right: 16%

.pr--17\%
  padding-right: 17%

.pr--18\%
  padding-right: 18%

.pr--19\%
  padding-right: 19%

.pr--20\%
  padding-right: 20%

.pr--21\%
  padding-right: 21%

.pr--22\%
  padding-right: 22%

.pr--23\%
  padding-right: 23%

.pr--24\%
 padding-right: 24%

.pr--25\%
 padding-right: 25%

.pr--26\%
 padding-right: 26%

.pr--27\%
 padding-right: 27%

.pr--28\%
 padding-right: 28%

.pr--29\%
 padding-right: 29%

.pr--30\%
 padding-right: 30%

.pr--31\%
 padding-right: 31%

.pr--32\%
 padding-right: 32%

.pr--33\%
 padding-right: 33%

.pr--34\%
 padding-right: 34%

.pr--34\%
 padding-right: 34%

.pr--35\%
 padding-right: 35%

.pr--36\%
 padding-right: 36%

.pr--37\%
 padding-right: 37%

.pr--38\%
 padding-right: 38%

.pr--39\%
 padding-right: 39%

.pr--40\%
 padding-right: 40%

.pr--41\%
 padding-right: 41%

.pr--42\%
 padding-right: 42%

.pr--43\%
 padding-right: 43%

.pr--44\%
 padding-right: 44%

.pr--45\%
 padding-right: 45%

.pr--46\%
 padding-right: 46%

.pr--47\%
 padding-right: 47%

.pr--48\%
 padding-right: 48%

.pr--49\%
 padding-right: 49%

.pr--50\%
 padding-right: 50%

.pr--55\%
 padding-right: 55%

.pr--60\%
 padding-right: 60%

.pr--65\%
 padding-right: 65%

.pr--70\%
 padding-right: 70%

.pr--75\%
 padding-right: 75%

.pr--80\%
 padding-right: 80%

.pr--85\%
 padding-right: 85%

.pr--90\%
 padding-right: 90%

.pr--95\%
 padding-right: 95%

.pr--100\%
 padding-right: 100%

.pr--auto
  padding-right: auto

.pb--0
  padding-bottom: 0

.pb--0\.5
  padding-bottom: 0.25rem

.pb--1
  padding-bottom: 0.5rem

.pb--1\.5
  padding-bottom: 0.75rem

.pb--2
  padding-bottom: 1rem

.pb--2\.5
  padding-bottom: 1.25rem

.pb--3
  padding-bottom: 1.5rem

.pb--3\.5
  padding-bottom: 1.75rem

.pb--4
  padding-bottom: 2rem

.pb--4\.5
  padding-bottom: 2.25rem

.pb--5
  padding-bottom: 2.5rem

.pb--5\.5
  padding-bottom: 2.75rem

.pb--6
  padding-bottom: 3rem

.pb--6\.5
  padding-bottom: 3.25rem

.pb--7
  padding-bottom: 3.5rem

.pb--7\.5
  padding-bottom: 3.75rem

.pb--8
  padding-bottom: 4rem

.pb--8\.5
  padding-bottom: 4.25rem

.pb--9
  padding-bottom: 4.5rem

.pb--9\.5
  padding-bottom: 4.75rem

.pb--10
  padding-bottom: 5rem

.pb--10\.5
  padding-bottom: 5.25rem

.pb--11
  padding-bottom: 5.5rem

.pb--11\.5
  padding-bottom: 5.75rem

.pb--12
  padding-bottom: 6rem

.pb--12\.5
  padding-bottom: 6.25rem

.pb--13
  padding-bottom: 6.5rem

.pb--13\.5
  padding-bottom: 6.75rem

.pb--14
  padding-bottom: 7rem

.pb--14\.5
  padding-bottom: 7.25rem

.pb--15
  padding-bottom: 7.5rem

.pb--15\.5
  padding-bottom: 7.75rem

.pb--16
  padding-bottom: 8rem

.pb--16\.5
  padding-bottom: 8.25rem

.pb--17
  padding-bottom: 8.5rem

.pb--17\.5
  padding-bottom: 8.75rem

.pb--18
  padding-bottom: 9rem

.pb--18\.5
  padding-bottom: 9.25rem

.pb--19
  padding-bottom: 9.5rem

.pb--19\.5
  padding-bottom: 9.75rem

.pb--20
  padding-bottom: 10rem

.pb--20\.5
  padding-bottom: 10.25rem

.pb--21
  padding-bottom: 10.5rem

.pb--21\.5
  padding-bottom: 10.75rem

.pb--22
  padding-bottom: 11rem

.pb--22\.5
  padding-bottom: 11.25rem

.pb--23
  padding-bottom: 11.5rem

.pb--23\.5
  padding-bottom: 11.75rem

.pb--24
  padding-bottom: 12rem

.pb--24\.5
  padding-bottom: 12.25rem

.pb--25
  padding-bottom: 12.5rem

.pb--25\.5
  padding-bottom: 12.75rem

.pb--26
  padding-bottom: 13rem

.pb--26\.5
  padding-bottom: 13.25rem

.pb--27
  padding-bottom: 13.5rem

.pb--27\.5
  padding-bottom: 13.75rem

.pb--28
  padding-bottom: 14rem

.pb--28\.5
  padding-bottom: 14.25rem

.pb--29
  padding-bottom: 14.5rem

.pb--29\.5
  padding-bottom: 14.75rem

.pb--30
  padding-bottom: 15rem

.pb--31
  padding-bottom: 15.5rem

.pb--32
  padding-bottom: 16rem

.pb--33
  padding-bottom: 16.5rem

.pb--34
  padding-bottom: 17rem

.pb--35
  padding-bottom: 17.5rem

.pb--36
  padding-bottom: 18rem

.pb--37
  padding-bottom: 18.5rem

.pb--38
  padding-bottom: 19rem

.pb--39
  padding-bottom: 19.5rem

.pb--40
  padding-bottom: 20rem

.pb--41
  padding-bottom: 21rem

.pb--42
  padding-bottom: 22rem

.pb--43
  padding-bottom: 23rem

.pb--44
  padding-bottom: 24rem

.pb--45
  padding-bottom: 25rem

.pb--46
  padding-bottom: 26rem

.pb--47
  padding-bottom: 27rem

.pb--48
  padding-bottom: 28rem

.pb--49
  padding-bottom: 29rem

.pb--50
  padding-bottom: 30rem

.pb--51
  padding-bottom: 32rem

.pb--52
  padding-bottom: 34rem

.pb--53
  padding-bottom: 36rem

.pb--54
  padding-bottom: 38rem

.pb--55
  padding-bottom: 40rem

.pb--56
  padding-bottom: 42rem

.pb--57
  padding-bottom: 44rem

.pb--58
  padding-bottom: 46rem

.pb--59
  padding-bottom: 48rem

.pb--60
  padding-bottom: 50rem

.pb--61
  padding-bottom: 54rem

.pb--62
  padding-bottom: 58rem

.pb--63
  padding-bottom: 62rem

.pb--64
  padding-bottom: 66rem

.pb--65
  padding-bottom: 70rem

.pb--66
  padding-bottom: 74rem

.pb--67
  padding-bottom: 78rem

.pb--68
  padding-bottom: 82rem

.pb--69
  padding-bottom: 86rem

.pb--70
  padding-bottom: 90rem

.pb--1\%
  padding-bottom: 1%

.pb--2\%
  padding-bottom: 2%

.pb--3\%
  padding-bottom: 3%

.pb--4\%
  padding-bottom: 4%

.pb--5\%
  padding-bottom: 5%

.pb--6\%
  padding-bottom: 6%

.pb--7\%
  padding-bottom: 7%

.pb--8\%
  padding-bottom: 8%

.pb--9\%
  padding-bottom: 9%

.pb--10\%
  padding-bottom: 10%

.pb--11\%
  padding-bottom: 11%

.pb--12\%
  padding-bottom: 12%

.pb--13\%
  padding-bottom: 13%

.pb--14\%
  padding-bottom: 14%

.pb--15\%
  padding-bottom: 15%

.pb--16\%
  padding-bottom: 16%

.pb--17\%
  padding-bottom: 17%

.pb--18\%
  padding-bottom: 18%

.pb--19\%
  padding-bottom: 19%

.pb--20\%
  padding-bottom: 20%

.pb--21\%
  padding-bottom: 21%

.pb--22\%
  padding-bottom: 22%

.pb--23\%
  padding-bottom: 23%

.pb--24\%
  padding-bottom: 24%

.pb--25\%
  padding-bottom: 25%

.pb--26\%
  padding-bottom: 26%

.pb--27\%
  padding-bottom: 27%

.pb--28\%
  padding-bottom: 28%

.pb--29\%
  padding-bottom: 29%

.pb--30\%
  padding-bottom: 30%

.pb--31\%
  padding-bottom: 31%

.pb--32\%
  padding-bottom: 32%

.pb--33\%
  padding-bottom: 33%

.pb--34\%
  padding-bottom: 34%

.pb--34\%
  padding-bottom: 34%

.pb--35\%
  padding-bottom: 35%

.pb--36\%
  padding-bottom: 36%

.pb--37\%
  padding-bottom: 37%

.pb--38\%
  padding-bottom: 38%

.pb--39\%
  padding-bottom: 39%

.pb--40\%
  padding-bottom: 40%

.pb--41\%
  padding-bottom: 41%

.pb--42\%
  padding-bottom: 42%

.pb--43\%
  padding-bottom: 43%

.pb--44\%
  padding-bottom: 44%

.pb--45\%
  padding-bottom: 45%

.pb--46\%
  padding-bottom: 46%

.pb--47\%
  padding-bottom: 47%

.pb--48\%
  padding-bottom: 48%

.pb--49\%
  padding-bottom: 49%

.pb--50\%
  padding-bottom: 50%

.pb--55\%
  padding-bottom: 55%

.pb--60\%
  padding-bottom: 60%

.pb--65\%
  padding-bottom: 65%

.pb--70\%
  padding-bottom: 70%

.pb--75\%
  padding-bottom: 75%

.pb--80\%
  padding-bottom: 80%

.pb--85\%
  padding-bottom: 85%

.pb--90\%
  padding-bottom: 90%

.pb--95\%
  padding-bottom: 95%

.pb--100\%
  padding-bottom: 100%

.pb--auto
  padding-bottom: auto

.pl--0
  padding-left: 0

.pl--0\.5
  padding-left: 0.25rem

.pl--1
  padding-left: 0.5rem

.pl--1\.5
  padding-left: 0.75rem

.pl--2
  padding-left: 1rem

.pl--2\.5
  padding-left: 1.25rem

.pl--3
  padding-left: 1.5rem

.pl--3\.5
  padding-left: 1.75rem

.pl--4
  padding-left: 2rem

.pl--4\.5
  padding-left: 2.25rem

.pl--5
  padding-left: 2.5rem

.pl--5\.5
  padding-left: 2.75rem

.pl--6
  padding-left: 3rem

.pl--6\.5
  padding-left: 3.25rem

.pl--7
  padding-left: 3.5rem

.pl--7\.5
  padding-left: 3.75rem

.pl--8
  padding-left: 4rem

.pl--8\.5
  padding-left: 4.25rem

.pl--9
  padding-left: 4.5rem

.pl--9\.5
  padding-left: 4.75rem

.pl--10
  padding-left: 5rem

.pl--10\.5
  padding-left: 5.25rem

.pl--11
  padding-left: 5.5rem

.pl--11\.5
  padding-left: 5.75rem

.pl--12
  padding-left: 6rem

.pl--12\.5
  padding-left: 6.25rem

.pl--13
  padding-left: 6.5rem

.pl--13\.5
  padding-left: 6.75rem

.pl--14
  padding-left: 7rem

.pl--14\.5
  padding-left: 7.25rem

.pl--15
  padding-left: 7.5rem

.pl--15\.5
  padding-left: 7.75rem

.pl--16
  padding-left: 8rem

.pl--16\.5
  padding-left: 8.25rem

.pl--17
  padding-left: 8.5rem

.pl--17\.5
  padding-bottom: 8.75rem

.pl--18
  padding-left: 9rem

.pl--18\.5
  padding-left: 9.25rem

.pl--19
  padding-left: 9.5rem

.pl--19\.5
  padding-left: 9.75rem

.pl--20
  padding-left: 10rem

.pl--20\.5
  padding-left: 10.25rem

.pl--21
  padding-left: 10.5rem

.pl--21\.5
  padding-left: 10.75rem

.pl--22
  padding-left: 11rem

.pl--22\.5
  padding-left: 11.25rem

.pl--23
  padding-left: 11.5rem

.pl--23\.5
  padding-left: 11.75rem

.pl--24
  padding-left: 12rem

.pl--24\.5
  padding-left: 12.25rem

.pl--25
  padding-left: 12.5rem

.pl--25\.5
  padding-left: 12.75rem

.pl--26
  padding-left: 13rem

.pl--26\.5
  padding-left: 13.25rem

.pl--27
  padding-left: 13.5rem

.pl--27\.5
  padding-left: 13.75rem

.pl--28
  padding-left: 14rem

.pl--28\.5
  padding-left: 14.25rem

.pl--29
  padding-left: 14.5rem

.pl--29\.5
  padding-left: 14.75rem

.pl--30
  padding-left: 15rem

.pl--31
  padding-left: 15.5rem

.pl--32
  padding-left: 16rem

.pl--33
  padding-left: 16.5rem

.pl--34
  padding-left: 17rem

.pl--35
  padding-left: 17.5rem

.pl--36
  padding-left: 18rem

.pl--37
  padding-left: 18.5rem

.pl--38
  padding-left: 19rem

.pl--39
  padding-left: 19.5rem

.pl--40
  padding-left: 20rem

.pl--41
  padding-left: 21rem

.pl--42
  padding-left: 22rem

.pl--43
  padding-left: 23rem

.pl--44
  padding-left: 24rem

.pl--45
  padding-left: 25rem

.pl--46
  padding-left: 26rem

.pl--47
  padding-left: 27rem

.pl--48
  padding-left: 28rem

.pl--49
  padding-left: 29rem

.pl--50
  padding-left: 30rem

.pl--51
  padding-left: 32rem

.pl--52
  padding-left: 34rem

.pl--53
  padding-left: 36rem

.pl--54
  padding-left: 38rem

.pl--55
  padding-left: 40rem

.pl--56
  padding-left: 42rem

.pl--57
  padding-left: 44rem

.pl--58
  padding-left: 46rem

.pl--59
  padding-left: 48rem

.pl--60
  padding-left: 50rem

.pl--61
  padding-left: 54rem

.pl--62
  padding-left: 58rem

.pl--63
  padding-left: 62rem

.pl--64
  padding-left: 66rem

.pl--65
  padding-left: 70rem

.pl--66
  padding-left: 74rem

.pl--67
  padding-left: 78rem

.pl--68
  padding-left: 82rem

.pl--69
  padding-left: 86rem

.pl--70
  padding-left: 90rem

.pl--1\%
  padding-left: 1%

.pl--2\%
  padding-left: 2%

.pl--3\%
  padding-left: 3%

.pl--4\%
  padding-left: 4%

.pl--5\%
  padding-left: 5%

.pl--6\%
  padding-left: 6%

.pl--7\%
  padding-left: 7%

.pl--8\%
  padding-left: 8%

.pl--9\%
  padding-left: 9%

.pl--10\%
  padding-left: 10%

.pl--11\%
  padding-left: 11%

.pl--12\%
  padding-left: 12%

.pl--13\%
  padding-left: 13%

.pl--14\%
  padding-left: 14%

.pl--15\%
  padding-left: 15%

.pl--16\%
  padding-left: 16%

.pl--17\%
  padding-left: 17%

.pl--18\%
  padding-left: 18%

.pl--19\%
  padding-left: 19%

.pl--20\%
  padding-left: 20%

.pl--21\%
  padding-left: 21%

.pl--22\%
  padding-left: 22%

.pl--23\%
  padding-left: 23%

.pl--24\%
  padding-left: 24%

.pl--25\%
  padding-left: 25%

.pl--26\%
  padding-left: 26%

.pl--27\%
  padding-left: 27%

.pl--28\%
  padding-left: 28%

.pl--29\%
  padding-left: 29%

.pl--30\%
  padding-left: 30%

.pl--31\%
  padding-left: 31%

.pl--32\%
  padding-left: 32%

.pl--33\%
  padding-left: 33%

.pl--34\%
  padding-left: 34%

.pl--34\%
  padding-left: 34%

.pl--35\%
  padding-left: 35%

.pl--36\%
  padding-left: 36%

.pl--37\%
  padding-left: 37%

.pl--38\%
  padding-left: 38%

.pl--39\%
  padding-left: 39%

.pl--40\%
  padding-left: 40%

.pl--41\%
  padding-left: 41%

.pl--42\%
  padding-left: 42%

.pl--43\%
  padding-left: 43%

.pl--44\%
  padding-left: 44%

.pl--45\%
  padding-left: 45%

.pl--46\%
  padding-left: 46%

.pl--47\%
  padding-left: 47%

.pl--48\%
  padding-left: 48%

.pl--49\%
  padding-left: 49%

.pl--50\%
  padding-left: 50%

.pl--55\%
  padding-left: 55%

.pl--60\%
  padding-left: 60%

.pl--65\%
  padding-left: 65%

.pl--70\%
  padding-left: 70%

.pl--75\%
  padding-left: 75%

.pl--80\%
  padding-left: 80%

.pl--85\%
  padding-left: 85%

.pl--90\%
  padding-left: 90%

.pl--95\%
  padding-left: 95%

.pl--100\%
  padding-left: 100%

.pl--auto
  padding-left: auto

.py--0
  padding-top: 0
  padding-bottom: 0

.py--0\.5
  padding-top: 0.25rem
  padding-bottom: 0.25rem

.py--1
  padding-top: 0.5rem
  padding-bottom: 0.5rem

.py--1\.5
  padding-top: 0.75rem
  padding-bottom: 0.75rem

.py--2
  padding-top: 1rem
  padding-bottom: 1rem

.py--2\.5
  padding-top: 1.25rem
  padding-bottom: 1.25rem

.py--3
  padding-top: 1.5rem
  padding-bottom: 1.5rem

.py--3\.5
  padding-top: 1.75rem
  padding-bottom: 1.75rem

.py--4
  padding-top: 2rem
  padding-bottom: 2rem

.py--4\.5
  padding-top: 2.25rem
  padding-bottom: 2.25rem

.py--5
  padding-top: 2.5rem
  padding-bottom: 2.5rem

.py--5\.5
  padding-top: 2.75rem
  padding-bottom: 2.75rem

.py--6
  padding-top: 3rem
  padding-bottom: 3rem

.py--6\.5
  padding-top: 3.25rem
  padding-bottom: 3.25rem

.py--7
  padding-top: 3.5rem
  padding-bottom: 3.5rem

.py--7\.5
  padding-top: 3.75rem
  padding-bottom: 3.75rem

.py--8
  padding-top: 4rem
  padding-bottom: 4rem

.py--8\.5
  padding-top: 4.25rem
  padding-bottom: 4.25rem

.py--9
  padding-top: 4.5rem
  padding-bottom: 4.5rem

.py--9\.5
  padding-top: 4.75rem
  padding-bottom: 4.75rem

.py--10
  padding-top: 5rem
  padding-bottom: 5rem

.py--10\.5
  padding-top: 5.25rem
  padding-bottom: 5.25rem

.py--11
  padding-top: 5.5rem
  padding-bottom: 5.5rem

.py--11\.5
  padding-top: 5.75rem
  padding-bottom: 5.75rem

.py--12
  padding-top: 6rem
  padding-bottom: 6rem

.py--12\.5
  padding-top: 6.25rem
  padding-bottom: 6.25rem

.py--13
  padding-top: 6.55rem
  padding-bottom: 6.55rem

.py--13\.5
  padding-top: 6.75rem
  padding-bottom: 6.75rem

.py--14
  padding-top: 7rem
  padding-bottom: 7rem

.py--14\.5
  padding-top: 7.25rem
  padding-bottom: 7.25rem

.py--15
  padding-top: 7.25rem
  padding-bottom: 7.25rem

.py--15\.5
  padding-top: 7.75rem
  padding-bottom: 7.75rem

.py--16
  padding-top: 8rem
  padding-bottom: 8rem

.py--16\.5
  padding-top: 8.25rem
  padding-bottom: 8.25rem

.py--17
  padding-top: 8.5rem
  padding-bottom: 8.5rem

.py--17\.5
  padding-top: 8.75rem
  padding-bottom: 8.75rem

.py--18
  padding-top: 9rem
  padding-bottom: 9rem

.py--18\.5
  padding-top: 9.25rem
  padding-bottom: 9.25rem

.py--19
  padding-top: 9.5rem
  padding-bottom: 9.5rem

.py--19\.5
  padding-top: 9.75rem
  padding-bottom: 9.75rem

.py--20
  padding-top: 10rem
  padding-bottom: 10rem

.py--20\.5
  padding-top: 10.25rem
  padding-bottom: 10.25rem

.py--21
  padding-top: 10.5rem
  padding-bottom: 10.5rem

.py--21\.5
  padding-top: 10.75rem
  padding-bottom: 10.75rem

.py--22
  padding-top: 11rem
  padding-bottom: 11rem

.py--22\.5
  padding-top: 11.25rem
  padding-bottom: 11.25rem

.py--23
  padding-top: 11.5rem
  padding-bottom: 11.5rem

.py--23\.5
  padding-top: 11.75rem
  padding-bottom: 11.75rem

.py--24
  padding-top: 12rem
  padding-bottom: 12rem

.py--24\.5
  padding-top: 12.25rem
  padding-bottom: 12.25rem

.py--25
  padding-top: 12.5rem
  padding-bottom: 12.5rem

.py--25\.5
  padding-top: 12.75rem
  padding-bottom: 12.75rem

.py--26
  padding-top: 13rem
  padding-bottom: 13rem

.py--26\.5
  padding-top: 13.25rem
  padding-bottom: 13.25rem

.py--27
  padding-top: 13.5rem
  padding-bottom: 13.5rem

.py--28\.5
  padding-top: 13.75rem
  padding-bottom: 13.75rem

.py--28
  padding-top: 14rem
  padding-bottom: 14rem

.py--28\.5
  padding-top: 14.25rem
  padding-bottom: 14.25rem

.py--29
  padding-top: 14.5rem
  padding-bottom: 14.5rem

.py--29\.5
  padding-top: 14.75rem
  padding-bottom: 14.75rem

.py--30
  padding-top: 15rem
  padding-bottom: 15rem

.py--31
  padding-top: 15.5rem
  padding-bottom: 15.5rem

.py--32
  padding-top: 16rem
  padding-bottom: 16rem

.py--33
  padding-top: 16.5rem
  padding-bottom: 16.5rem

.py--34
  padding-top: 17rem
  padding-bottom: 17rem

.py--35
  padding-top: 17.5rem
  padding-bottom: 17.5rem

.py--36
  padding-top: 18rem
  padding-bottom: 18rem

.py--37
  padding-top: 18.5rem
  padding-bottom: 18.5rem

.py--38
  padding-top: 19rem
  padding-bottom: 19rem

.py--39
  padding-top: 19.5rem
  padding-bottom: 19.5rem

.py--40
  padding-top: 20rem
  padding-bottom: 20rem

.py--41
  padding-top: 21rem
  padding-bottom: 21rem

.py--42
  padding-top: 22rem
  padding-bottom: 22rem

.py--43
  padding-top: 23rem
  padding-bottom: 23rem

.py--44
  padding-top: 24rem
  padding-bottom: 24rem

.py--45
  padding-top: 25rem
  padding-bottom: 25rem

.py--46
  padding-top: 26rem
  padding-bottom: 26rem

.py--47
  padding-top: 27rem
  padding-bottom: 27rem

.py--48
  padding-top: 28rem
  padding-bottom: 28rem

.py--49
  padding-top: 29rem
  padding-bottom: 29rem

.py--50
  padding-top: 30rem
  padding-bottom: 30rem

.py--51
  padding-top: 32rem
  padding-bottom: 32rem

.py--52
  padding-top: 34rem
  padding-bottom: 34rem

.py--53
  padding-top: 36rem
  padding-bottom: 36rem

.py--54
  padding-top: 38rem
  padding-bottom: 38rem

.py--55
  padding-top: 40rem
  padding-bottom: 40rem

.py--56
  padding-top: 42rem
  padding-bottom: 42rem

.py--57
  padding-top: 44rem
  padding-bottom: 44rem

.py--58
  padding-top: 46rem
  padding-bottom: 46rem

.py--59
  padding-top: 48rem
  padding-bottom: 48rem

.py--60
  padding-top: 50rem
  padding-bottom: 50rem

.py--61
  padding-top: 54rem
  padding-bottom: 54rem

.py--62
  padding-top: 58rem
  padding-bottom: 58rem

.py--63
  padding-top: 62rem
  padding-bottom: 62rem

.py--64
  padding-top: 66rem
  padding-bottom: 66rem

.py--65
  padding-top: 70rem
  padding-bottom: 70rem

.py--66
  padding-top: 74rem
  padding-bottom: 74rem

.py--67
  padding-top: 78rem
  padding-bottom: 78rem

.py--68
  padding-top: 82rem
  padding-bottom: 82rem

.py--69
  padding-top: 86rem
  padding-bottom: 86rem

.py--70
  padding-top: 90rem
  padding-bottom: 90rem

.py--auto
  padding-top: auto
  padding-bottom: auto

.px--0
  padding-right: 0
  padding-left: 0

.px--0\.5
  padding-right: 0.25rem
  padding-left: 0.25rem

.px--1
  padding-right: 0.5rem
  padding-left: 0.5rem

.px--1\.5
  padding-right: 0.75rem
  padding-left: 0.75rem

.px--2
  padding-right: 1rem
  padding-left: 1rem

.px--2\.5
  padding-right: 1.25rem
  padding-left: 1.25rem

.px--3
  padding-right: 1.5rem
  padding-left: 1.5rem

.px--3\.5
  padding-right: 1.75rem
  padding-left: 1.75rem

.px--4
  padding-right: 2rem
  padding-left: 2rem

.px--4\.5
  padding-right: 2.25rem
  padding-left: 2.25rem

.px--5
  padding-right: 2.5rem
  padding-left: 2.5rem

.px--5\.5
  padding-right: 2.75rem
  padding-left: 2.75rem

.px--6
  padding-right: 3rem
  padding-left: 3rem

.px--6\.5
  padding-right: 3.25rem
  padding-left: 3.25rem

.px--7
  padding-right: 3.5rem
  padding-left: 3.5rem

.px--7\.5
  padding-right: 3.75rem
  padding-left: 3.75rem

.px--8
  padding-right: 4rem
  padding-left: 4rem

.px--8\.5
  padding-right: 4.25rem
  padding-left: 4.25rem

.px--9
  padding-right: 4.5rem
  padding-left: 4.5rem

.px--9\.5
  padding-right: 4.75rem
  padding-left: 4.75rem

.px--10
  padding-right: 5rem
  padding-left: 5rem

.px--10\.5
  padding-right: 5.25rem
  padding-left: 5.25rem

.px--11
  padding-right: 5.5rem
  padding-left: 5.5rem

.px--11\.5
  padding-right: 5.75rem
  padding-left: 5.75rem

.px--12
  padding-right: 6rem
  padding-left: 6rem

.px--12\.5
  padding-right: 6.25rem
  padding-left: 6.25rem

.px--13
  padding-right: 6.55rem
  padding-left: 6.55rem

.px--13\.5
  padding-right: 6.75rem
  padding-left: 6.75rem

.px--14
  padding-right: 7rem
  padding-left: 7rem

.px--14\.5
  padding-right: 7.25rem
  padding-left: 7.25rem

.px--15
  padding-right: 7.25rem
  padding-left: 7.25rem

.px--15\.5
  padding-right: 7.75rem
  padding-left: 7.75rem

.px--16
  padding-right: 8rem
  padding-left: 8rem

.px--16\.5
  padding-right: 8.25rem
  padding-left: 8.25rem

.px--17
  padding-right: 8.5rem
  padding-left: 8.5rem

.px--17\.5
  padding-right: 8.75rem
  padding-left: 8.75rem

.px--18
  padding-right: 9rem
  padding-left: 9rem

.px--18\.5
  padding-right: 9.25rem
  padding-left: 9.25rem

.px--19
  padding-right: 9.5rem
  padding-left: 9.5rem

.px--19\.5
  padding-right: 9.75rem
  padding-left: 9.75rem

.px--20
  padding-right: 10rem
  padding-left: 10rem

.px--20\.5
  padding-right: 10.25rem
  padding-left: 10.25rem

.px--21
  padding-right: 10.5rem
  padding-left: 10.5rem

.px--21\.5
  padding-right: 10.75rem
  padding-left: 10.75rem

.px--22
  padding-right: 11rem
  padding-left: 11rem

.px--22\.5
  padding-right: 11.25rem
  padding-left: 11.25rem

.px--23
  padding-right: 11.5rem
  padding-left: 11.5rem

.px--23\.5
  padding-right: 11.75rem
  padding-left: 11.75rem

.px--24
  padding-right: 12rem
  padding-left: 12rem

.px--24\.5
  padding-right: 12.25rem
  padding-left: 12.25rem

.px--25
  padding-right: 12.5rem
  padding-left: 12.5rem

.px--25\.5
  padding-right: 12.75rem
  padding-left: 12.75rem

.px--26
  padding-right: 13rem
  padding-left: 13rem

.px--26\.5
  padding-right: 13.25rem
  padding-left: 13.25rem

.px--27
  padding-right: 13.5rem
  padding-left: 13.5rem

.px--28\.5
  padding-right: 13.75rem
  padding-left: 13.75rem

.px--28
  padding-right: 14rem
  padding-left: 14rem

.px--28\.5
  padding-right: 14.25rem
  padding-left: 14.25rem

.px--29
  padding-right: 14.5rem
  padding-left: 14.5rem

.px--29\.5
  padding-right: 14.75rem
  padding-left: 14.75rem

.px--30
  padding-right: 15rem
  padding-left: 15rem

.px--31
  padding-right: 15.5rem
  padding-left: 15.5rem

.px--32
  padding-right: 16rem
  padding-left: 16rem

.px--33
  padding-right: 16.5rem
  padding-left: 16.5rem

.px--34
  padding-right: 17rem
  padding-left: 17rem

.px--35
  padding-right: 17.5rem
  padding-left: 17.5rem

.px--36
  padding-right: 18rem
  padding-left: 18rem

.px--37
  padding-right: 18.5rem
  padding-left: 18.5rem

.px--38
  padding-right: 19rem
  padding-left: 19rem

.px--39
  padding-right: 19.5rem
  padding-left: 19.5rem

.px--40
  padding-right: 20rem
  padding-left: 20rem

.px--41
  padding-right: 21rem
  padding-left: 21rem

.px--42
  padding-right: 22rem
  padding-left: 22rem

.px--43
  padding-right: 23rem
  padding-left: 23rem

.px--44
  padding-right: 24rem
  padding-left: 24rem

.px--45
  padding-right: 25rem
  padding-left: 25rem

.px--46
  padding-right: 26rem
  padding-left: 26rem

.px--47
  padding-right: 27rem
  padding-left: 27rem

.px--48
  padding-right: 28rem
  padding-left: 28rem

.px--49
  padding-right: 29rem
  padding-left: 29rem

.px--50
  padding-right: 30rem
  padding-left: 30rem

.px--51
  padding-right: 32rem
  padding-left: 32rem

.px--52
  padding-right: 34rem
  padding-left: 34rem

.px--53
  padding-right: 36rem
  padding-left: 36rem

.px--54
  padding-right: 38rem
  padding-left: 38rem

.px--55
  padding-right: 40rem
  padding-left: 40rem

.px--56
  padding-right: 42rem
  padding-left: 42rem

.px--57
  padding-right: 44rem
  padding-left: 44rem

.px--58
  padding-right: 46rem
  padding-left: 46rem

.px--59
  padding-right: 48rem
  padding-left: 48rem

.px--60
  padding-right: 50rem
  padding-left: 50rem

.px--61
  padding-right: 54rem
  padding-left: 54rem

.px--62
  padding-right: 58rem
  padding-left: 58rem

.px--63
  padding-right: 62rem
  padding-left: 62rem

.px--64
  padding-right: 66rem
  padding-left: 66rem

.px--65
  padding-right: 70rem
  padding-left: 70rem

.px--66
  padding-right: 74rem
  padding-left: 74rem

.px--67
  padding-right: 78rem
  padding-left: 78rem

.px--68
  padding-right: 82rem
  padding-left: 82rem

.px--69
  padding-right: 86rem
  padding-left: 86rem

.px--70
  padding-right: 90rem
  padding-left: 90rem

.px--auto
  padding-right: auto
  padding-left: auto

