.pos--relative
  position: relative

.pos--absolute
  position: absolute

.pos--fixed
  position: fixed

.pos--sticky
  position: sticky

.pos--static
  position: static

.sticky--top, .sticky--bottom
  position: sticky
  z-index: 1000

.sticky--top
  top: 0

.sticky--bottom
  bottom: 0

.fixed--top, .fixed--bottom
  position: fixed
  z-index: 1000

.fixed--top
  top: 0

.fixed--bottom
  bottom: 0
