@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .r--#{$key}
    right: $value

@for $i from 1 through 200
  @if ($i % 2) == 0
    .r--#{math.div($i, 2)}\%
      right: string.unquote(math.div($i, 2) + '%')
  @else
    .r--#{math.div($i, 2) - 0.5}\.5\%
      right: string.unquote(math.div($i, 2) + '%')

.r--auto
  right: auto
