@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .t--#{$key}
    top: $value

@for $i from 1 through 200
  .t--#{math.div($i, 2) * 2}\%
    top: string.unquote(math.div($i, 2) + '%')

.t--auto
  top: auto
