.y--0
  transform: translateY(0)

.y--0\.5
  transform: translateY(0.25rem)

.y--1
  transform: translateY(0.5rem)

.y--1\.5
  transform: translateY(0.75rem)

.y--2
  transform: translateY(1rem)

.y--2\.5
  transform: translateY(1.25rem)

.y--3
  transform: translateY(1.5rem)

.y--3\.5
  transform: translateY(1.75rem)

.y--4
  transform: translateY(2rem)

.y--4\.5
  transform: translateY(2.25rem)

.y--5
  transform: translateY(2.5rem)

.y--5\.5
  transform: translateY(2.75rem)

.y--6
  transform: translateY(3rem)

.y--6\.5
  transform: translateY(3.25rem)

.y--7
  transform: translateY(3.5rem)

.y--7\.5
  transform: translateY(3.75rem)

.y--8
  transform: translateY(4rem)

.y--8\.5
  transform: translateY(4.25rem)

.y--9
  transform: translateY(4.5rem)

.y--9\.5
  transform: translateY(4.75rem)

.y--10
  transform: translateY(5rem)

.y--10\.5
  transform: translateY(5.25rem)

.y--11
  transform: translateY(5.5rem)

.y--11\.5
  transform: translateY(5.75rem)

.y--12
  transform: translateY(6rem)

.y--12\.5
  transform: translateY(6.25rem)

.y--13
  transform: translateY(6.5rem)

.y--13\.5
  transform: translateY(6.75rem)

.y--14
  transform: translateY(7rem)

.y--14\.5
  transform: translateY(7.25rem)

.y--15
  transform: translateY(7.5rem)

.y--15\.5
  transform: translateY(7.75rem)

.y--16
  transform: translateY(8rem)

.y--16\.5
  transform: translateY(8.25rem)

.y--17
  transform: translateY(8.5rem)

.y--17\.5
  transform: translateY(8.75rem)

.y--18
  transform: translateY(9rem)

.y--18\.5
  transform: translateY(9.25rem)

.y--19
  transform: translateY(9.5rem)

.y--19\.5
  transform: translateY(9.75rem)

.y--20
  transform: translateY(10rem)

.y--20\.5
  transform: translateY(10.25rem)

.y--21
  transform: translateY(10.5rem)

.y--21\.5
  transform: translateY(10.75rem)

.y--22
  transform: translateY(11rem)

.y--22\.5
  transform: translateY(11.25rem)

.y--23
  transform: translateY(11.5rem)

.y--23\.5
  transform: translateY(11.75rem)

.y--24
  transform: translateY(12rem)

.y--24\.5
  transform: translateY(12.25rem)

.y--25
  transform: translateY(12.5rem)

.y--25\.5
  transform: translateY(12.75rem)

.y--26
  transform: translateY(13rem)

.y--26\.5
  transform: translateY(13.25rem)

.y--27
  transform: translateY(13.5rem)

.y--27\.5
  transform: translateY(13.75rem)

.y--28
  transform: translateY(14rem)

.y--28\.5
  transform: translateY(14.25rem)

.y--29
  transform: translateY(14.5rem)

.y--29\.5
  transform: translateY(14.75rem)

.y--30
  transform: translateY(15rem)

.y--31
  transform: translateY(15.5rem)

.y--32
  transform: translateY(16rem)

.y--33
  transform: translateY(16.5rem)

.y--34
  transform: translateY(17rem)

.y--35
  transform: translateY(17.5rem)

.y--36
  transform: translateY(18rem)

.y--37
  transform: translateY(18.5rem)

.y--38
  transform: translateY(19rem)

.y--39
  transform: translateY(19.5rem)

.y--40
  transform: translateY(20rem)

.y--41
  transform: translateY(21rem)

.y--42
  transform: translateY(22rem)

.y--43
  transform: translateY(23rem)

.y--44
  transform: translateY(24rem)

.y--45
  transform: translateY(25rem)

.y--46
  transform: translateY(26rem)

.y--47
  transform: translateY(27rem)

.y--48
  transform: translateY(28rem)

.y--49
  transform: translateY(29rem)

.y--50
  transform: translateY(30rem)

.y--51
  transform: translateY(32rem)

.y--52
  transform: translateY(34rem)

.y--53
  transform: translateY(36rem)

.y--54
  transform: translateY(38rem)

.y--55
  transform: translateY(40rem)

.y--56
  transform: translateY(42rem)

.y--57
  transform: translateY(44rem)

.y--58
  transform: translateY(46rem)

.y--59
  transform: translateY(48rem)

.y--60
  transform: translateY(50rem)

.y--61
  transform: translateY(54rem)

.y--62
  transform: translateY(58rem)

.y--63
  transform: translateY(62rem)

.y--64
  transform: translateY(66rem)

.y--65
  transform: translateY(70rem)

.y--66
  transform: translateY(74rem)

.y--67
  transform: translateY(78rem)

.y--68
  transform: translateY(82rem)

.y--69
  transform: translateY(86rem)

.y--70
  transform: translateY(90rem)

.y--1\%
  transform: translateY(1%)

.y--2\%
  transform: translateY(2%)

.y--3\%
  transform: translateY(3%)

.y--4\%
  transform: translateY(4%)

.y--5\%
  transform: translateY(5%)

.y--6\%
  transform: translateY(6%)

.y--7\%
  transform: translateY(7%)

.y--8\%
  transform: translateY(8%)

.y--9\%
  transform: translateY(9%)

.y--10\%
  transform: translateY(10%)

.y--11\%
  transform: translateY(11%)

.y--12\%
  transform: translateY(12%)

.y--13\%
  transform: translateY(13%)

.y--14\%
  transform: translateY(14%)

.y--15\%
  transform: translateY(15%)

.y--16\%
  transform: translateY(16%)

.y--17\%
  transform: translateY(17%)

.y--18\%
  transform: translateY(18%)

.y--19\%
  transform: translateY(19%)

.y--20\%
  transform: translateY(20%)

.y--21\%
  transform: translateY(21%)

.y--22\%
  transform: translateY(22%)

.y--23\%
  transform: translateY(23%)

.y--24\%
  transform: translateY(24%)

.y--25\%
  transform: translateY(25%)

.y--26\%
  transform: translateY(26%)

.y--27\%
  transform: translateY(27%)

.y--28\%
  transform: translateY(28%)

.y--29\%
  transform: translateY(29%)

.y--30\%
  transform: translateY(30%)

.y--31\%
  transform: translateY(31%)

.y--32\%
  transform: translateY(32%)

.y--33\%
  transform: translateY(33%)

.y--34\%
  transform: translateY(34%)

.y--34\%
  transform: translateY(34%)

.y--35\%
  transform: translateY(35%)

.y--36\%
  transform: translateY(36%)

.y--37\%
  transform: translateY(37%)

.y--38\%
  transform: translateY(38%)

.y--39\%
  transform: translateY(39%)

.y--40\%
  transform: translateY(40%)

.y--41\%
  transform: translateY(41%)

.y--42\%
  transform: translateY(42%)

.y--43\%
  transform: translateY(43%)

.y--44\%
  transform: translateY(44%)

.y--45\%
  transform: translateY(45%)

.y--46\%
  transform: translateY(46%)

.y--47\%
  transform: translateY(47%)

.y--48\%
  transform: translateY(48%)

.y--49\%
  transform: translateY(49%)

.y--50\%
  transform: translateY(50%)

.y--55\%
  transform: translateY(55%)

.y--60\%
  transform: translateY(60%)

.y--65\%
  transform: translateY(65%)

.y--70\%
  transform: translateY(70%)

.y--75\%
  transform: translateY(75%)

.y--80\%
  transform: translateY(80%)

.y--85\%
  transform: translateY(85%)

.y--90\%
  transform: translateY(90%)

.y--95\%
  transform: translateY(95%)

.y--100\%
  transform: translateY(100%)

.x--0
  transform: translateX(0)

.x--0\.5
  transform: translateX(0.25rem)

.x--1
  transform: translateX(0.5rem)

.x--1\.5
  transform: translateX(0.75rem)

.x--2
  transform: translateX(1rem)

.x--2\.5
  transform: translateX(1.25rem)

.x--3
  transform: translateX(1.5rem)

.x--3\.5
  transform: translateX(1.75rem)

.x--4
  transform: translateX(2rem)

.x--4\.5
  transform: translateX(2.25rem)

.x--5
  transform: translateX(2.5rem)

.x--5\.5
  transform: translateX(2.75rem)

.x--6
  transform: translateX(3rem)

.x--6\.5
  transform: translateX(3.25rem)

.x--7
  transform: translateX(3.5rem)

.x--7\.5
  transform: translateX(3.75rem)

.x--8
  transform: translateX(4rem)

.x--8\.5
  transform: translateX(4.25rem)

.x--9
  transform: translateX(4.5rem)

.x--9\.5
  transform: translateX(4.75rem)

.x--10
  transform: translateX(5rem)

.x--10\.5
  transform: translateX(5.25rem)

.x--11
  transform: translateX(5.5rem)

.x--11\.5
  transform: translateX(5.75rem)

.x--12
  transform: translateX(6rem)

.x--12\.5
  transform: translateX(6.25rem)

.x--13
  transform: translateX(6.5rem)

.x--13\.5
  transform: translateX(6.75rem)

.x--14
  transform: translateX(7rem)

.x--14\.5
  transform: translateX(7.25rem)

.x--15
  transform: translateX(7.5rem)

.x--15\.5
  transform: translateX(7.75rem)

.x--16
  transform: translateX(8rem)

.x--16\.5
  transform: translateX(8.25rem)

.x--17
  transform: translateX(8.5rem)

.x--17\.5
  transform: translateX(8.75rem)

.x--18
  transform: translateX(9rem)

.x--18\.5
  transform: translateX(9.25rem)

.x--19
  transform: translateX(9.5rem)

.x--19\.5
  transform: translateX(9.75rem)

.x--20
  transform: translateX(10rem)

.x--20\.5
  transform: translateX(10.25rem)

.x--21
  transform: translateX(10.5rem)

.x--21\.5
  transform: translateX(10.75rem)

.x--22
  transform: translateX(11rem)

.x--22\.5
  transform: translateX(11.25rem)

.x--23
  transform: translateX(11.5rem)

.x--23\.5
  transform: translateX(11.75rem)

.x--24
  transform: translateX(12rem)

.x--24\.5
  transform: translateX(12.25rem)

.x--25
  transform: translateX(12.5rem)

.x--25\.5
  transform: translateX(12.75rem)

.x--26
  transform: translateX(13rem)

.x--26\.5
  transform: translateX(13.25rem)

.x--27
  transform: translateX(13.5rem)

.x--27\.5
  transform: translateX(13.75rem)

.x--28
  transform: translateX(14rem)

.x--28\.5
  transform: translateX(14.25rem)

.x--29
  transform: translateX(14.5rem)

.x--29\.5
  transform: translateX(14.75rem)

.x--30
  transform: translateX(15rem)

.x--31
  transform: translateX(15.5rem)

.x--32
  transform: translateX(16rem)

.x--33
  transform: translateX(16.5rem)

.y--34
  transform: translateX(17rem)

.x--35
  transform: translateX(17.5rem)

.x--36
  transform: translateX(18rem)

.x--37
  transform: translateX(18.5rem)

.x--38
  transform: translateX(19rem)

.x--39
  transform: translateX(19.5rem)

.x--40
  transform: translateX(20rem)

.x--41
  transform: translateX(21rem)

.x--42
  transform: translateX(22rem)

.x--43
  transform: translateX(23rem)

.x--44
  transform: translateX(24rem)

.x--45
  transform: translateX(25rem)

.x--46
  transform: translateX(26rem)

.x--47
  transform: translateX(27rem)

.x--48
  transform: translateX(28rem)

.x--49
  transform: translateX(29rem)

.x--50
  transform: translateX(30rem)

.x--51
  transform: translateX(32rem)

.x--52
  transform: translateX(34rem)

.x--53
  transform: translateX(36rem)

.x--54
  transform: translateX(38rem)

.x--55
  transform: translateX(40rem)

.x--56
  transform: translateX(42rem)

.x--57
  transform: translateX(44rem)

.x--58
  transform: translateX(46rem)

.x--59
  transform: translateX(48rem)

.x--60
  transform: translateX(50rem)

.x--61
  transform: translateX(54rem)

.x--62
  transform: translateX(58rem)

.x--63
  transform: translateX(62rem)

.x--64
  transform: translateX(66rem)

.x--65
  transform: translateX(70rem)

.x--66
  transform: translateX(74rem)

.x--67
  transform: translateX(78rem)

.x--68
  transform: translateX(82rem)

.x--69
  transform: translateX(86rem)

.x--70
  transform: translateX(90rem)

.x--1\%
  transform: translateX(1%)

.x--2\%
  transform: translateX(2%)

.x--3\%
  transform: translateX(3%)

.x--4\%
  transform: translateX(4%)

.x--5\%
  transform: translateX(5%)

.x--6\%
  transform: translateX(6%)

.x--7\%
  transform: translateX(7%)

.x--8\%
  transform: translateX(8%)

.x--9\%
  transform: translateX(9%)

.x--10\%
  transform: translateX(10%)

.x--11\%
  transform: translateX(11%)

.x--12\%
  transform: translateX(12%)

.x--13\%
  transform: translateX(13%)

.x--14\%
  transform: translateX(14%)

.x--15\%
  transform: translateX(15%)

.x--16\%
  transform: translateX(16%)

.x--17\%
  transform: translateX(17%)

.x--18\%
  transform: translateX(18%)

.x--19\%
  transform: translateX(19%)

.x--20\%
  transform: translateX(20%)

.x--21\%
  transform: translateX(21%)

.x--22\%
  transform: translateX(22%)

.x--23\%
  transform: translateX(23%)

.x--24\%
  transform: translateX(24%)

.x--25\%
  transform: translateX(25%)

.x--26\%
  transform: translateX(26%)

.x--27\%
  transform: translateX(27%)

.x--28\%
  transform: translateX(28%)

.x--29\%
  transform: translateX(29%)

.x--30\%
  transform: translateX(30%)

.x--31\%
  transform: translateX(31%)

.x--32\%
  transform: translateX(32%)

.x--33\%
  transform: translateX(33%)

.x--34\%
  transform: translateX(34%)

.x--34\%
  transform: translateX(34%)

.x--35\%
  transform: translateX(35%)

.x--36\%
  transform: translateX(36%)

.x--37\%
  transform: translateX(37%)

.x--38\%
  transform: translateX(38%)

.x--39\%
  transform: translateX(39%)

.x--40\%
  transform: translateX(40%)

.x--41\%
  transform: translateX(41%)

.x--42\%
  transform: translateX(42%)

.x--43\%
  transform: translateX(43%)

.x--44\%
  transform: translateX(44%)

.x--45\%
  transform: translateX(45%)

.x--46\%
  transform: translateX(46%)

.x--47\%
  transform: translateX(47%)

.x--48\%
  transform: translateX(48%)

.x--49\%
  transform: translateX(49%)

.x--50\%
  transform: translateX(50%)

.x--55\%
  transform: translateX(55%)

.x--60\%
  transform: translateX(60%)

.x--65\%
  transform: translateX(65%)

.x--70\%
  transform: translateX(70%)

.x--75\%
  transform: translateX(75%)

.x--80\%
  transform: translateX(80%)

.x--85\%
  transform: translateX(85%)

.x--90\%
  transform: translateX(90%)

.x--95\%
  transform: translateX(95%)

.x--100\%
  transform: translateX(100%)

