@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .y--#{$key}
    transform: translateY($key)

  .x--#{$key}
    transform: translateX($key)

@for $i from 1 through 200
  .y--#{math.div($i, 2) * 2}\%
    transform: translateY(string.unquote(math.div($i, 2) + '%'))

  .x--#{math.div($i, 2) * 2}\%
    transform: translateX(string.unquote(math.div($i, 2) + '%'))

