@use "./../abstracts/" as *

.box
  width: 100%
  min-height: 3rem

  & .wrapper__wrapper
    padding: 1rem .8rem

    & .box__title
      font-size: 1.3rem
      margin-bottom: 0.5rem

    & .box__subtitle
      font-size: 1.2rem
      margin-bottom: 0.4rem

    & .box__text
      font-size: inherit
      margin-bottom: 0.4rem

    & .box__img, .box__thumb, .box__video
      width: 100%
      height: auto

  @each $color-item, $color-value in $color-list
    &.box--#{$color-item}
      background-color: $color-value

.box__group
  @include flex
  @include flex-wrap
  align-items: stretch
  position: relative

  & .box__group__item
    margin: 0

