@use "./../abstracts/" as *

.box
  width: 100%
  min-height: 3rem

  & .box--wrapper
    padding: 1rem .8rem

    & .box--title
      font-size: 1.3rem
      margin-bottom: 0.5rem

    & .box--subtitle
      font-size: 1.2rem
      margin-bottom: 0.4rem

    & .box--text
      font-size: inherit
      margin-bottom: 0.4rem

    & .box--img, .box--thumb, .box--video
      width: 100%
      height: auto

  @each $color-item, $color-value in $color-list
    &.box--#{$color-item}
      background-color: $color-value

.box--group
  @include flex
  @include flex-wrap
  align-items: stretch
  position: relative

  & .box--group--item
    margin: 0

