@use "./../abstracts/" as *

.footer *
  margin-bottom: 0 !important

.footer
  margin-top: 0.5rem

  & .footer__wrapper
    padding-top: 1rem
    padding-bottom: 1rem
    display: flex
    justify-content: space-between

    & .footer__brand
      font-weight: 500
      cursor: pointer

  @each $color-item, $color-value in $color-list
    &.footer--#{$color-item}
      background-color: $color-value

