@use "./../abstracts/" as *

.footer *
  margin-bottom: 0

.footer
  margin-top: 0.5rem

  & .footer--wrapper
    padding-top: 1rem
    padding-bottom: 1rem
    @include flex
    justify-content: space-between

    & .footer--brand
      font-weight: 500
      cursor: pointer

  @each $color, $color-value in $color-list
    &.footer--#{$color}
      background-color: var(--#{$color})

