.hero
  align-items: stretch
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 20rem
  width: 100%

  &.hero--primary
    background-color: ($primary)

  &.hero--secondary
    background-color: ($secondary)

  &.hero--muted
    background-color: ($muted)

  &.hero--accent
    background-color: ($accent)

  &.hero--error
    background-color: ($error)

  &.hero--warning
    background-color: ($warning)

  &.hero--info
    background-color: ($info)

  &.hero--success
    background-color: ($success)

  &.hero--dark
    background-color: ($dark)

  &.hero--light
    background-color: ($light)

