.hero
  align-items: stretch
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 20rem
  width: 100%

  &.hero--primary
    background-color: (var(--primary))

  &.hero--secondary
    background-color: (var(--secondary))

  &.hero--muted
    background-color: (var(--muted))

  &.hero--accent
    background-color: (var(--accent))

  &.hero--error
    background-color: (var(--error))

  &.hero--warning
    background-color: (var(--warning))

  &.hero--info
    background-color: (var(--info))

  &.hero--success
    background-color: (var(--success))

  &.hero--dark
    background-color: (var(--dark))

  &.hero--light
    background-color: (var(--light))

