.label
  font-size: 100%
  margin-bottom: 1rem

.input
  border: 2px solid lighten(black, 15%)
  border-radius: 5px
  padding: 8px
  transition: border-color 0.5s ease-in

  &.input--primary
    border-color: var(--primary)

  &.input--secondary
    border-color: var(--secondary)

  &.input--muted
    border-color: var(--muted)

  &.input--accent
    border-color: var(--accent)

  &.input--error
    border-color: var(--danger)

  &.input--warning
    border-color: var(--warning)

  &.input--info
    border-color: var(--info)

  &.input--succes
    border-color: var(--success)

  &.input--dark
    border-color: var(--dark)

  &.input--light
    border-color: var(--light)

