@use "./../abstracts/" as *

.label
  font-size: 100%
  margin-bottom: 1rem

.input
  border: 2px solid lighten(black, 15%)
  border-radius: 5px
  padding: 8px
  transition: border-color 0.5s ease-in

  @each $color-item, $color-value in $color-list
    &.input--#{$color-item}
      border-color: ($color-value)

