.msg
  background-color: whitesmoke
  border-radius: 4px
  font-size: 1rem

  & .msg__wrapper
    padding: 1rem .8rem
    padding-top: 1rem
    border-bottom: 2px solid lightgrey

    & .msg__title
      font-weight: inherit
      font-size: 1.3rem
      margin-bottom: 0.5rem

    & .msg__subtitle
      font-weight: inherit
      font-size: 1.2rem
      margin-bottom: 0.4rem

    & .msg__text
      font-size: inherit
      margin-bottom: 0.4rem

  &.msg--primary
    border-color: var(--primary)

  &.msg--secondary
    border-color: var(--secondary)

  &.msg--muted
    border-color: var(--muted)

  &.msg--accent
    border-color: var(--accent)

  &.msg--error
    border-color: var(--danger)

  &.msg--warning
    border-color: var(--warning)

  &.msg--info
    border-color: var(--info)

  &.msg--succes
    border-color: var(--success)

  &.msg--dark
    border-color: var(--dark)

  &.msg--light
    border-color: var(--light)
