.msg
  background-color: whitesmoke
  border-radius: 4px
  font-size: 1rem

  & .msg__wrapper
    padding: 1rem .8rem
    padding-top: 1rem
    border-bottom: 2px solid lightgrey

    & .msg__title
      font-weight: inherit
      font-size: 1.3rem
      margin-bottom: 0.5rem

    & .msg__subtitle
      font-weight: inherit
      font-size: 1.2rem
      margin-bottom: 0.4rem

    & .msg__text
      font-size: inherit
      margin-bottom: 0.4rem

  &.msg--primary
    border-color: ($primary)

  &.msg--secondary
    border-color: ($secondary)

  &.msg--muted
    border-color: ($muted)

  &.msg--accent
    border-color: ($accent)

  &.msg--error
    border-color: ($danger)

  &.msg--warning
    border-color: ($warning)

  &.msg--info
    border-color: ($info)

  &.msg--succes
    border-color: ($success)

  &.msg--dark
    border-color: ($dark)

  &.msg--light
    border-color: ($light)
