.navbar *
  margin-bottom: 0 !important

.navbar
  & .navbar__wrapper
    padding-top: 1rem
    padding-bottom: 1rem
    display: flex
    justify-content: space-between

    & .navbar__brand
      font-weight: 500
      cursor: pointer

  &.navbar--primary
    background-color: (var(--primary))

  &.navbar--secondary
    background-color: (var(--secondary))

  &.navbar--muted
    background-color: (var(--muted))

  &.navbar--accent
    background-color: (var(--accent))

  &.navbar--error
    background-color: (var(--error))

  &.navbar--warning
    background-color: (var(--warning))

  &.navbar--info
    background-color: (var(--info))

  &.navbar--success
    background-color: (var(--success))

  &.navbar--dark
    background-color: (var(--dark))

  &.navbar--light
    background-color: (var(--light))

