.navbar *
  margin-bottom: 0 !important

.navbar
  & .navbar__wrapper
    padding-top: 1rem
    padding-bottom: 1rem
    display: flex
    justify-content: space-between

    & .navbar__brand
      font-weight: 500
      cursor: pointer

  &.navbar--primary
    background-color: ($primary)

  &.navbar--secondary
    background-color: ($secondary)

  &.navbar--muted
    background-color: ($muted)

  &.navbar--accent
    background-color: ($accent)

  &.navbar--error
    background-color: ($error)

  &.navbar--warning
    background-color: ($warning)

  &.navbar--info
    background-color: ($info)

  &.navbar--success
    background-color: ($success)

  &.navbar--dark
    background-color: ($dark)

  &.navbar--light
    background-color: ($light)

