.notepad
  border-left: 0.6rem solid lighten(black, 10%)
  border-top-left-radius: 0.7rem
  border-bottom-left-radius: 0.7rem
  padding: 1rem .8rem
  min-height: 3em

  & .notepad__text
    font-weight: inherit

  &.notepad--primary
    border-color: var(--primary)

  &.notepad--secondary
    border-color: var(--secondary)

  &.notepad--muted
    border-color: var(--muted)

  &.notepad--accent
    border-color: var(--accent)

  &.notepad--error
    border-color: var(--error)

  &.notepad--warning
    border-color: var(--warning)

  &.notepad--info
    border-color: var(--info)

  &.notepad--success
    border-color: var(--success)

  &.notepad--dark
    border-color: var(--dark)

  &.notepad--light
    border-color: var(--light)

