@use "./../abstracts/" as *

.pagination
  list-style: none
  margin: 0
  padding: 0
  @include flex
  @include flex-wrap

  @each $color, $color-value in $color-list
    &.pagination--#{$color}
      background-color: var(--#{$color})

  & .pagination--item
    margin: 0 0.08rem

  @each $color, $color-value in $color-list
    & .pagination--item--#{$color}
      background-color: var(--#{$color})
