@mixin pagination-item-color($clr)
  background-color: $clr

  &:hover
    background-color: complement($clr)

.pagination
  list-style: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap

  &.pagination--primary
    background-color: ($primary)

  &.pagination--secondary
    background-color: ($secondary)

  &.pagination--muted
    background-color: ($muted)

  &.pagination--accent
    background-color: ($accent)

  &.pagination--error
    background-color: ($error)

  &.pagination--warning
    background-color: ($warning)

  &.pagination--info
    background-color: ($info)

  &.pagination--success
    background-color: ($success)

  &.pagination--dark
    background-color: ($dark)

  &.pagination--light
    background-color: ($light)

  & .pagination__item
    margin: 0 0.08rem

  & .pagination__item--primary
    @include pagination-item-color($primary)

  & .pagination__item--secondary
    @include pagination-item-color($secondary)

  & .pagination__item--muted
    @include pagination-item-color($muted)

  & .pagination__item--accent
    @include pagination-item-color($accent)

  & .pagination__item--error
    @include pagination-item-color($error)

  & .pagination__item--warning
    @include pagination-item-color($warning)

  & .pagination__item--info
    @include pagination-item-color($info)

  & .pagination__item--success
    @include pagination-item-color($success)

  & .pagination__item--dark
    @include pagination-item-color($dark)

  & .pagination__item--light
    @include pagination-item-color($light)

