.progress
  background-color: rgb(219, 213, 213)
  width: 15rem
  height: 2rem
  border: 1px solid lighten(black, 10%)

  &.progress--primary
    background-color: (var(--primary))

  &.progress--secondary
    background-color: (var(--secondary))

  &.progress--muted
    background-color: (var(--muted))

  &.progress--accent
    background-color: (var(--accent))

  &.progress--error
    background-color: (var(--error))

  &.progress--warning
    background-color: (var(--warning))

  &.progress--info
    background-color: (var(--info))

  &.progress--success
    background-color: (var(--success))

  &.progress--dark
    background-color: (var(--dark))

  &.progress--light
    background-color: (var(--light))

  & .progress__meter
    width: 15%
    height: 100%
    background-color: lighten(black, 10%)

  & .progress__meter--primary
    background-color: (var(--primary))

  & .progress__meter--secondary
    background-color: (var(--secondary))

  & .progress__meter--muted
    background-color: (var(--muted))

  & .progress__meter--accent
    background-color: (var(--accent))

  & .progress__meter--error
    background-color: (var(--error))

  & .progress__meter--warning
    background-color: (var(--warning))

  & .progress__meter--info
    background-color: (var(--info))

  & .progress__meter--success
    background-color: (var(--success))

  & .progress__meter--dark
    background-color: (var(--dark))

  & .progress__meter--light
    background-color: (var(--light))

