@use "./../abstracts/" as *

.progress
  background-color: rgb(219, 213, 213)
  width: 15rem
  height: 2rem
  border: 1px solid lighten(black, 10%)

  @each $color, $color-value in $color-list
    &.progress--#{$color}
      background-color: var(--#{$color})

  & .progress--meter
    width: 15%
    height: 100%
    background-color: $dark

  @each $color, $color-value in $color-list
    & .progress--meter--#{$color}
      background-color: var(--#{$color})

