.sidebar
  position: absolute
  max-width: 45%
  min-width: 20%
  min-height: 100vh
  left: -90%
  z-index: 1000
  transition: left 0.7s ease-in

  & .sidebar__wrapper
    padding: 1rem 0.8rem
    padding-top: 1rem
    border-bottom: 2px solid lightgrey

  &.sidebar--primary
    background-color: ($primary)

  &.sidebar--secondary
    background-color: ($secondary)

  &.sidebar--muted
    background-color: ($muted)

  &.sidebar--accent
    background-color: ($accent)

  &.sidebar--error
    background-color: ($error)

  &.sidebar--warning
    background-color: ($warning)

  &.sidebar--info
    background-color: ($info)

  &.sidebar--success
    background-color: ($success)

  &.sidebar--dark
    background-color: ($dark)

  &.sidebar--light
    background-color: ($light)

