@use "./../abstracts/" as *

.sidebar
  position: absolute
  max-width: 45%
  min-width: 20%
  min-height: 100vh
  left: -90%
  z-index: 1000
  transition: left 0.7s ease-in

  & .sidebar__wrapper
    padding: 1rem 0.8rem
    padding-top: 1rem
    border-bottom: 2px solid lightgrey

  @each $color-item, $color-value in $color-list
    &.sidebar--#{$color-item}
      background-color: $color-value

