@use "./../abstracts/" as *

@each $color, $color-value in $color-list
  .bgc--#{$color}
    background-color: $color-value

  .bgc--#{$color}\:hvr:hover
    background-color: $color-value

  .bgc--#{$color}\:fcs:focus
    background-color: $color-value

