@mixin background($clr)
  background-color: $clr

  &--hvr:hover
    background-color: $clr

  &--fsc:focus
    background-color: $clr

.bgc--primary
  @include background($primary)

.bgc--secondary
  @include background($primary)

.bgc--muted
  @include background($primary)

.bgc--accent
  @include background($primary)

.bgc--error
  @include background($primary)

.bgc--warning
  @include background($primary)

.bgc--info
  @include background($primary)

.bgc--success
  @include background($primary)

.bgc--dark
  @include background($primary)

.bgc--light
  @include background($primary)

