@use "./../abstracts/" as *

.bd
  border-color: $dark
  border-style: solid
  border-width: 0.1rem

.bd--none
  border-style: none

.bd--dotted
  border-style: dotted

.bd--dashed
  border-style: dashed

.bd--solid
  border-style: solid

.bd--groove
  border-style: groove

.bd--ridge
  border-style: ridge

.bd--double
  border-style: double

.bd--inset
  border-style: inset

.bd--outset
  border-style: outset

@mixin border-color($clr)
  border-color: $clr

  &--hvr:hover
    border-color: $clr

  &--fcs:focus
    border-color: $clr

@each $color, $color-value in $color-list
  .bdc--#{$color}
    @include border-color($color-value)


@each $i, $value in $border-list
  .bd--#{$i}
    border-width: $value

@each $i, $value in $border-list
  .bdrds--#{$i}
    border-radius: $value

  .bdrds--t--#{$i}
    border-top-right-radius: $value
    border-top-left-radius: $value

  .bdrds--r--#{$i}
    border-top-right-radius: $value
    border-bottom-right-radius: $value

  .bdrds--b--#{$i}
    border-bottom-right-radius: $value
    border-bottom-left-radius: $value

  .bdrds--l--#{$i}
    border-top-left-radius: $value
    border-bottom-left-radius: $value

  .bdrds--tr--#{$i}
    border-top-right-radius: $value

  .bdrds--tl--#{$i}
    border-top-left-radius: $value

  .bdrds--br--#{$i}
    border-bottom-right-radius: $value

  .bdrds--bl--#{$i}
    border-bottom-left-radius: $value

