@use "./../abstracts/" as *

.bd
  border: 1px solid var(--border-color)

.bd--t
  border-top: 1px solid var(--border-color)

.bd--r
  border-right: 1px solid var(--border-color)

.bd--b
  border-bottom: 1px solid var(--border-color)

.bd--l
  border-left: 1px solid var(--border-color)

.bd--none
  border-style: none

.bd--dotted
  border-style: dotted

.bd--dashed
  border-style: dashed

.bd--solid
  border-style: solid

.bd--groove
  border-style: groove

.bd--ridge
  border-style: ridge

.bd--double
  border-style: double

.bd--inset
  border-style: inset

.bd--outset
  border-style: outset

@each $color, $color-value in $color-list
  .bdc--#{$color}
    border-color: var(--#{$color})

  .bdc--#{$color}\:hvr:hover
    border-color: var(--#{$color})

  .bdc--#{$color}\:fcs:focus
    border-color: var(--#{$color})

@each $i, $value in $border-list
  .bd--#{$i}
    border-width: $value

@each $i, $value in $border-list
  .bd--rds--#{$i}
    border-radius: $value

  .bd--rds--t--#{$i}
    border-top-right-radius: $value
    border-top-left-radius: $value

  .bd--rds--r--#{$i}
    border-top-right-radius: $value
    border-bottom-right-radius: $value

  .bd--rds--b--#{$i}
    border-bottom-right-radius: $value
    border-bottom-left-radius: $value

  .bd--rds--l--#{$i}
    border-top-left-radius: $value
    border-bottom-left-radius: $value

  .bd--rds--t--r--#{$i}
    border-top-right-radius: $value

  .bd--rds--t--l--#{$i}
    border-top-left-radius: $value

  .bd--rds--b--r--#{$i}
    border-bottom-right-radius: $value

  .bd--rds--b--l--#{$i}
    border-bottom-left-radius: $value

