@use "./../abstracts/" as *

@each $color, $color-value in $color-list
  .c--#{$color}
    color: var(--#{$color})

  .c--#{$color}\:hvr:hover
    color: var(--#{$color})

  .c--#{$color}\:fcs:focus
    color: var(--#{$color})

