@mixin display($value)
  display: $value !important

  &--hvr:hover
    display: $value !important

  &--fsc:focus
    display: $value !important

.d--block
  @include display(block)

.d--none
  @include display(none)

.d--grid
  @include display(grid)

.d--inline
  @include display(inline)

.d--inline--block
  @include display(inline-block)

.d--inline--flex
  @include display(inline-flex)

.d--table
  @include display(table)

.d--flex
  -webkit-display: flex
  -moz-display: flex
  -ms-display: flex
  -o-display: flex
  display: flex

.d--flex--hvr:hover
  -webkit-display: flex
  -moz-display: flex
  -ms-display: flex
  -o-display: flex
  display: flex

.d--flex--fcs:focus
  -webkit-display: flex
  -moz-display: flex
  -ms-display: flex
  -o-display: flex
  display: flex


