.lis--unstyled
  list-style: none

.lis--disc
  list-style: disc

.lis--decimal
  list-style: decimal

.lis--cirlce
  list-style: circle

.lis--square
  list-style: square

.lisp--inside
  list-style-position: inside

.lisp-outside
  list-style-position: outside
