@use "./../abstracts/" as *

.rounded--xxs, .rounded--xs
  border-radius: 30%

.rounded--sm
  border-radius: 40%

.rounded, .rounded--md
  border-radius: 50%

.rounded--lg
  border-radius: 55%

.rounded--xl, .rounded--xxl
  border-radius: 70%

