
.scale--1
  transform: scale(1)

.scale--1\.5
  transform: scale(1.5)

.scale--2
  transform: scale(2)

.scale--2\.5
  transform: scale(2.5)

.scale--3
  transform: scale(3)

.scale--3\.5
  transform: scale(3.5)

.scale--4
  transform: scale(4)

.scale--4\.5
  transform: scale(4.5)

.scale--5
  transform: scale(5)

.scale--5\.5
  transform: scale(5.5)

.scale--6
  transform: scale(6)

.scale--6\.5
  transform: scale(6.5)

.scale--7
  transform: scale(7)

.scale--7\.5
  transform: scale(7.5)

.scale--8
  transform: scale(8)

.scale--8\.5
  transform: scale(8.5)

.scale--9
  transform: scale(9)

.scale--9\.5
  transform: scale(9.5)

.scale--10
  transform: scale(10)

.scale--10\.5
  transform: scale(10.5)

.scale--11
  transform: scale(11)

.scale--11\.5
  transform: scale(11.5)

.scale--12
  transform: scale(12)

.scale--12\.5
  transform: scale(12.5)

.scale--13
  transform: scale(13)

.scale--13\.5
  transform: scale(13.5)

.scale--14
  transform: scale(14)

.scale--14\.5
  transform: scale(14.5)

.scale--15
  transform: scale(15)

.scale--15\.5
  transform: scale(15.5)

.scale--16
  transform: scale(16)

.scale--16\.5
  transform: scale(16.5)

.scale--17
  transform: scale(17)

.scale--17\.5
  transform: scale(17.5)

.scale--18
  transform: scale(18)

.scale--18\.5
  transform: scale(18.5)

.scale--19
  transform: scale(19)

.scale--19\.5
  transform: scale(19.5)

.scale--20
  transform: scale(20)

.scale--20\.5
  transform: scale(20.5)

.scale--21
  transform: scale(21)

.scale--21\.5
  transform: scale(21.5)

.scale--22
  transform: scale(22)

.scale--22\.5
  transform: scale(22.5)

.scale--23
  transform: scale(23)

.scale--23\.5
  transform: scale(23.5)

.scale--24
  transform: scale(24)

.scale--24\.5
  transform: scale(24.5)

.scale--25
  transform: scale(25)

.scale--25\.5
  transform: scale(25.5)

.scale--26
  transform: scale(26)

.scale--26\.5
  transform: scale(26.5)

.scale--27
  transform: scale(27)

.scale--27\.5
  transform: scale(27.5)

.scale--28
  transform: scale(28)

.scale--28\.5
  transform: scale(28.5)

.scale--29
  transform: scale(29)

.scale--29\.5
  transform: scale(29.5)

.scale--30
  transform: scale(30)

.scaley--1
  transform: scaleY(1)

.scaley--1\.5
  transform: scaleY(1.5)

.scaley--2
  transform: scaleY(2)

.scaley--2\.5
  transform: scaleY(2.5)

.scaley--3
  transform: scaleY(3)

.scaley--3\.5
  transform: scaleY(3.5)

.scaley--4
  transform: scaleY(4)

.scaley--4\.5
  transform: scaleY(4.5)

.scaley--5
  transform: scaleY(5)

.scaley--5\.5
  transform: scaleY(5.5)

.scaley--6
  transform: scaleY(6)

.scaley--6\.5
  transform: scaleY(6.5)

.scaley--7
  transform: scaleY(7)

.scaley--7\.5
  transform: scaleY(7.5)

.scaley--8
  transform: scaleY(8)

.scaley--8\.5
  transform: scaleY(8.5)

.scaley--9
  transform: scaleY(9)

.scaley--9\.5
  transform: scaleY(9.5)

.scaley--10
  transform: scaleY(10)

.scaley--10\.5
  transform: scaleY(10.5)

.scaley--11
  transform: scaleY(11)

.scaley--11\.5
  transform: scaleY(11.5)

.scaley--12
  transform: scaleY(12)

.scaley--12\.5
  transform: scaleY(12.5)

.scaley--13
  transform: scaleY(13)

.scaley--13\.5
  transform: scaleY(13.5)

.scaley--14
  transform: scaleY(14)

.scaley--14\.5
  transform: scaleY(14.5)

.scaley--15
  transform: scaleY(15)

.scaley--15\.5
  transform: scaleY(15.5)

.scaley--16
  transform: scaleY(16)

.scaley--16\.5
  transform: scaleY(16.5)

.scaley--17
  transform: scaleY(17)

.scaley--17\.5
  transform: scaleY(17.5)

.scaley--18
  transform: scaleY(18)

.scaley--18\.5
  transform: scaleY(18.5)

.scaley--19
  transform: scaleY(19)

.scaley--19\.5
  transform: scaleY(19.5)

.scaley--20
  transform: scaleY(20)

.scaley--20\.5
  transform: scaleY(20.5)

.scaley--21
  transform: scaleY(21)

.scaley--21\.5
  transform: scaleY(21.5)

.scaley--22
  transform: scaleY(22)

.scaley--22\.5
  transform: scaleY(22.5)

.scaley--23
  transform: scaleY(23)

.scaley--23\.5
  transform: scaleY(23.5)

.scaley--24
  transform: scaleY(24)

.scaley--24\.5
  transform: scaleY(24.5)

.scaley--25
  transform: scaleY(25)

.scaley--25\.5
  transform: scaleY(25.5)

.scaley--26
  transform: scaleY(26)

.scaley--26\.5
  transform: scaleY(26.5)

.scaley--27
  transform: scaleY(27)

.scaley--27\.5
  transform: scaleY(27.5)

.scaley--28
  transform: scaleY(28)

.scaley--28\.5
  transform: scaleY(28.5)

.scaley--29
  transform: scaleY(29)

.scaley--29\.5
  transform: scaleY(29.5)

.scaley--30
  transform: scaleY(30)

.scalex--1
  transform: scaleX(1)

.scalex--1\.5
  transform: scaleX(1.5)

.scalex--2
  transform: scaleX(2)

.scalex--2\.5
  transform: scaleX(2.5)

.scalex--3
  transform: scaleX(3)

.scalex--3\.5
  transform: scaleX(3.5)

.scalex--4
  transform: scaleX(4)

.scalex--4\.5
  transform: scaleX(4.5)

.scalex--5
  transform: scaleX(5)

.scalex--5\.5
  transform: scaleX(5.5)

.scalex--6
  transform: scaleX(6)

.scalex--6\.5
  transform: scaleX(6.5)

.scalex--7
  transform: scaleX(7)

.scalex--7\.5
  transform: scaleX(7.5)

.scalex--8
  transform: scaleX(8)

.scalex--8\.5
  transform: scaleX(8.5)

.scalex--9
  transform: scaleX(9)

.scalex--9\.5
  transform: scaleX(9.5)

.scalex--10
  transform: scaleX(10)

.scalex--10\.5
  transform: scaleX(10.5)

.scalex--11
  transform: scaleX(11)

.scalex--11\.5
  transform: scaleX(11.5)

.scalex--12
  transform: scaleX(12)

.scalex--12\.5
  transform: scaleX(12.5)

.scalex--13
  transform: scaleX(13)

.scalex--13\.5
  transform: scaleX(13.5)

.scalex--14
  transform: scaleX(14)

.scalex--14\.5
  transform: scaleX(14.5)

.scalex--15
  transform: scaleX(15)

.scalex--15\.5
  transform: scaleX(15.5)

.scalex--16
  transform: scaleX(16)

.scalex--16\.5
  transform: scaleX(16.5)

.scalex--17
  transform: scaleX(17)

.scalex--17\.5
  transform: scaleX(17.5)

.scalex--18
  transform: scaleX(18)

.scalex--18\.5
  transform: scaleX(18.5)

.scalex--19
  transform: scaleX(19)

.scalex--19\.5
  transform: scaleX(19.5)

.scalex--20
  transform: scaleX(20)

.scalex--20\.5
  transform: scaleX(20.5)

.scalex--21
  transform: scaleX(21)

.scalex--21\.5
  transform: scaleX(21.5)

.scalex--22
  transform: scaleX(22)

.scalex--22\.5
  transform: scaleX(22.5)

.scalex--23
  transform: scaleX(23)

.scalex--23\.5
  transform: scaleX(23.5)

.scalex--24
  transform: scaleX(24)

.scalex--24\.5
  transform: scaleX(24.5)

.scalex--25
  transform: scaleX(25)

.scalex--25\.5
  transform: scaleX(25.5)

.scalex--26
  transform: scaleX(26)

.scalex--26\.5
  transform: scaleX(26.5)

.scalex--27
  transform: scaleX(27)

.scalex--27\.5
  transform: scaleX(27.5)

.scalex--28
  transform: scaleX(28)

.scalex--28\.5
  transform: scaleX(28.5)

.scalex--29
  transform: scaleX(29)

.scalex--29\.5
  transform: scaleX(29.5)

.scalex--30
  transform: scaleX(30)


