.bshdw--xs, .bshdw--xxs
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)

.bshdw--sm
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)

.bshdw, .bshdw--md
  box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)

.bshdw--lg
  box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)

.bshdw--xl, .bshdw--xxl
  box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)

.bshdw--xs\:hvr:hover, .bshdw--xxs\:hvr:hover
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)

.bshdw--sm\:hvr:hover
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)

.bshdw\:hvr:hover, .bshdw--md\:hvr:hover
  box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)

.bshdw--lg\:hvr:hover
  box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)

.bshdw--xl\:hvr:hover, .bshdw--xxl\:hvr:hover
  box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)

.bshdw--xs\:fcs:focus, .bshdw--xxs\:fcs:focus
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)

.bshdw--sm\:fcs:focus
  box-shadow: 10px 12px 22px -14px rgba(0,0,0,0.76)
  box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 22px -8px rgba(0,0,0,0.76)

.bshdw\:fcs:focus, .bshdw--md\:fcs:focus
  box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px -1px rgba(0,0,0,0.76)

.bshdw--lg\:fcs:focus
  box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 28px 6px rgba(0,0,0,0.76)

.bshdw--xl\:fcs:focus, .bshdw--xxl\:fcs:focus
  box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -webkit-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)
  -moz-box-shadow: 10px 12px 58px 6px rgba(0,0,0,0.76)

