@use "./../abstracts/" as *

body
  font-family: $raleway

p, .p
  line-height: 1.7rem
  font-size: 1rem
  letter-spacing: 0.055rem

.ff--sans--serif
  font-family: $sans-serif

.ff--serif
  font-family: $serif

.fs--xxs
  font-size: 0.5rem

.fs--xs
  font-size: 0.7rem

.fs--sm
  font-size: 0.8rem

.fs--md
  font-size: 1rem

.fs--lg
  font-size: 1.25rem

.fs--xl
  font-size: 1.5rem

.fs--xxl
  font-size: 2rem

.fw--100
  font-weight: 100

.fw--200
  font-weight: 200

.fw--300
  font-weight: 300

.fw--400, .fw--normal
  font-weight: normal

.fw--500
  font-weight: 500

.fw--600
  font-weight: 600

.fw--700, .fw--bold
  font-weight: bold

.fw--800
  font-weight: 800

.fw--900
  font-weight: 900

.fv--normal
  font-variant: normal

.fv--small--caps
  font-variant: small-caps

.ta--left
  text-align: left

.ta--center
  text-align: center

.ta--right
  text-align: right

.ta--justify
  text-align: justify

.tt--uppercase
  text-transform: uppercase

.tt--lowercase
  text-transform: lowercase

.tt--capitalize
  text-transform: capitalize

.td--underline
  text-decoration: underline

.td--line-through
  text-decoration: line-through

.td--none
  text-decoration: none

.td--overline
  text-decoration: overline

.td--none
  text-decoration: none

.td--line--through
  text-decoration: line-through

.td--underline
  text-decoration: underline

.tshdw--xxs, .tshdw-xs
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.35)

.tshdw--sm
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.38)

.tshdw, .tshdw--md
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.51)

.tshdw--lg
  text-shadow: 3px 6px 7px rgba(0, 0, 0, 0.81)

.tshdw--xl, .tshdw--xxl
  text-shadow: 3px 9px 14px rgba(0, 0, 0, 1)

.tshdw--xxs\:hvr:hover, .tshdw-xs\:hvr:hover
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.35)

.tshdw--sm\:hvr:hover
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.48)

.tshdw\:hvr:hover, .tshdw--md\:hvr:hover
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.51)

.tshdw--lg\:hvr:hover
  text-shadow: 3px 6px 7px rgba(0, 0, 0, 0.81)

.tshdw--xl\:hvr:hover, .tshdw--xxl\:hvr:hover
  text-shadow: 3px 9px 14px rgba(0, 0, 0, 1)

.tshdw--xxs\:fcs:focus, .tshdw-xs\:fcs:focus
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.35)

.tshdw--sm\:fcs:focus
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.38)

.tshdw\:fcs:focus, .tshdw--md\:fcs:focus
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.41)

.tshdw--lg\:fcs:focus
  text-shadow: 3px 6px 7px rgba(0, 0, 0, 0.81)

.tshdw--xl\:fcs:focus, .tshdw--xxl\:fcs:focus
  text-shadow: 3px 9px 14px rgba(0, 0, 0, 1)

.t--link
  cursor: pointer

.t--link:hover
  text-decoration: underline
  transition: text-decoration 0.5s ease

.t--truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 100%

.ltsp--normal
  letter-spacing: normal

.ltsp--1
  letter-spacing: 0.1px

.ltsp--2
  letter-spacing: 0.2px

.ltsp--3
  letter-spacing: 0.3px

.ltsp--4
  letter-spacing: 0.4px

.ltsp--5
  letter-spacing: 0.5px

.ltsp--6
  letter-spacing: 0.6px

.ltsp--7
  letter-spacing: 0.7px

.ltsp--8
  letter-spacing: 0.8px

.ltsp--9
  letter-spacing: 0.9px

.ltsp--10
  letter-spacing: 1px

.ltsp--11
  letter-spacing: 1.1px

.ltsp--12
  letter-spacing: 1.2px

.ltsp--13
  letter-spacing: 1.3px

.ltsp--14
  letter-spacing: 1.4px

.ltsp--15
  letter-spacing: 1.5px

.lb--auto
  line-break: auto

.lb--loose
  line-break: loose

.lb--normal
  line-break: normal

.lb--strict
  line-break: strict

.lb--anywhere
  line-break: anywhere

.lh--normal
  line-height: normal

.lh--10\%
  line-height: 10%

.lh--20\%
  line-height: 20%

.lh--30\%
  line-height: 30%

.lh--40\%
  line-height: 40%

.lh--50\%
  line-height: 50%

.lh--60\%
  line-height: 60%

.lh--70\%
  line-height: 70%

.lh--80\%
  line-height: 80%

.lh--90\%
  line-height: 90%

.lh--100\%
  line-height: 100%

.lh--110\%
  line-height: 110%

.lh--120\%
  line-height: 120%

.lh--130\%
  line-height: 130%

.lh--140\%
  line-height: 140%

.lh--150\%
  line-height: 150%

.lh--160\%
  line-height: 160%

.lh--170\%
  line-height: 170%

.lh--180\%
  line-height: 180%

.lh--190\%
  line-height: 190%

.lh--200\%
  line-height: 200%

.ws--normal
  white-space: normal

.ws--nowrap
  white-space: nowrap

.ws--pre
  white-space: pre

.ws--pre--wrap
  white-space: pre-wrap

.ws--pre--line
  white-space: pre-line

.wos--break--spaces
  white-space: break-spaces

.wob--normal
  word-break: normal

.wob--break--all
  word-break: break-all

.wob--keep--all
  word-break: keep-all

.wob--break--word
  word-break: break-word

.flow
  overflow: hidden
  width: auto

.magazine--p::first-letter
  font-size: 200%
  float: left
