@use "./../abstracts/" as *

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-weight: 250
  font-family: $serif

h1, .h1, .title
  font-size: $title-size

h2, .h2, .subtitle
  font-size: calc($title-size - 0.25rem)

h3, .h3
  font-size: calc($title-size - 0.5rem)

h4, .h4
  font-size: calc($title-size - 0.75rem)

h5, .h5
  font-size: calc($title-size - 1rem)

h6, .h6
  font-size: calc($title-size - 1.25rem)

@media only screen and (max-width: 45rem)
  h1, .h1, .title
    font-size: calc($title-size - 0.5rem)

  h2, .h2, .subtitle
    font-size: calc($title-size - 0.75rem)

  h3, .h3
    font-size: calc($title-size - 1.25rem)

  h4, .h4
    font-size: calc($title-size - 1rem)

  h5, .h5
    font-size: calc($title-size - 1.25rem)

  h6, .h6
    font-size: calc($title-size - 1.25rem)
